openapi: 3.0.3
info:
  title: Unikol API
  description: >
    API REST de la plateforme SaaS de gestion scolaire Unikol.
    Toutes les routes (sauf /auth/*) exigent un JWT Bearer valide.
    Le tenant (SchoolId) est dérivé du claim `schoolId` du token, jamais d'un paramètre de requête.
    Référence fonctionnelle complète : docs/Volume_4_API_Design.md
  version: "1.1.0"
servers:
  - url: https://api.sama-ecole.sn/v1
    description: Production
  - url: https://staging-api.sama-ecole.sn/v1
    description: Staging
  - url: http://localhost:5000/v1
    description: Développement local

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Users
  - name: Schools
  - name: SchoolYears
  - name: Classrooms
  - name: Subjects
  - name: Coefficients
  - name: ClassSubjects
  - name: Students
  - name: Teachers
  - name: Attendance
  - name: Enrollments
  - name: Grades
  - name: ReportCards
  - name: Finance
  - name: Subscriptions
  - name: RegistrationRequests
  - name: Payments
  - name: Reports
  - name: Audit
  - name: Platform
  - name: Notifications
  - name: Inventory
  - name: Exams
  - name: VieScolaire
  - name: StateIntegration
  - name: ClassJournal
  - name: Quran

paths:
  /state-integration/planete/export:
    get:
      tags: [StateIntegration]
      summary: Export « Planète Ready » des élèves (CSV ou JSON)
      description: >
        Matrice élèves au format d'échange du SIMEN, pour une année scolaire (Volume 1 §23.2).
        Renvoie un FICHIER en pièce jointe dans les deux formats — y compris `json` : c'est un
        livrable à déposer sur le portail du ministère, pas une réponse d'API à consommer.
        Le périmètre est l'INSCRIPTION non annulée de l'exercice, pas l'élève « actuellement en base ».
        Réservé au Directeur : l'export sort l'état civil de tous les élèves en un fichier. Journalisé.
      parameters:
        - name: schoolYearId
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: format
          in: query
          schema: { type: string, enum: [Csv, Json], default: Csv }
        - name: classroomId
          in: query
          description: Restreint l'export à une classe (contrôle avant transmission globale). Omis = tout l'établissement.
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Fichier d'export (Content-Disposition&#58; attachment).
          content:
            text/csv:
              schema: { type: string, format: binary }
            application/json:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: >
            Le code établissement national (SIMEN) n'est pas renseigné. L'export refuse plutôt que de
            produire un fichier au code vide, que le ministère rejetterait silencieusement des jours
            plus tard. Le message nomme l'écran où corriger.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /state-integration/simen/status:
    get:
      tags: [StateIntegration]
      summary: État du relais API du ministère
      description: >
        Consommé par l'écran AVANT d'afficher l'action « Transmettre au SIMEN ». Aucune donnée
        d'établissement ne transite ici. À ce jour `isConfigured` vaut toujours `false` — aucune API
        publique du SIMEN n'est ouverte.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  isConfigured: { type: boolean }
                  message: { type: string }

  /state-integration/stateduc:
    get:
      tags: [StateIntegration]
      summary: Rapport annuel STATEDUC (agrégats JSON)
      description: >
        Effectifs par niveau, pyramide des âges, qualifications et statuts du personnel (Volume 1 §23.3).
        Les trois représentations (JSON, PDF, Excel) sortent du MÊME calcul.
      parameters:
        - name: schoolYearId
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: observationDate
          in: query
          description: >
            Date d'arrêté des effectifs et de calcul des âges. Omise = aujourd'hui. Explicite pour
            qu'une école qui réédite son rapport en décembre retrouve les chiffres déclarés en juin.
          schema: { type: string, format: date }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StateducReport' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /state-integration/stateduc/pdf:
    get:
      tags: [StateIntegration]
      summary: Rapport STATEDUC — formulaire officiel (PDF A4 paysage)
      parameters:
        - name: schoolYearId
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: observationDate
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: PDF prêt à signer et déposer.
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }

  /state-integration/stateduc/excel:
    get:
      tags: [StateIntegration]
      summary: Rapport STATEDUC — classeur .xlsx (consolidation IEF)
      parameters:
        - name: schoolYearId
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: observationDate
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Classeur (une feuille par tableau réglementaire). Les effectifs sont des NOMBRES, jamais du texte mis en forme.
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }

  /state-integration/students/{studentId}/ien:
    put:
      tags: [StateIntegration]
      summary: Enregistre l'IEN d'un élève, ou génère un numéro provisoire
      description: >
        DEUX MODES. `ienNumber` renseigné = saisie du numéro OFFICIEL reçu du SIMEN (le mode normal).
        `ienNumber` null ou absent = demande de génération d'un numéro PROVISOIRE de secours, sans
        valeur officielle (Volume 1 §23.1). Une chaîne VIDE est refusée en 422 : « champ laissé vide »
        ne doit jamais déclencher une génération non demandée.


        Un IEN officiel écrase un provisoire. L'INVERSE EST REFUSÉ (409) — aucun numéro fabriqué ne
        remplace un IEN délivré par le ministère.
      parameters:
        - name: studentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ienNumber:
                  type: string
                  nullable: true
                  maxLength: 24
                  description: Numéro officiel. Null ou absent = générer un provisoire.
      responses:
        '200':
          description: OK. `isProvisional` doit être affiché immédiatement par l'écran.
          content:
            application/json:
              schema:
                type: object
                properties:
                  studentId: { type: string, format: uuid }
                  ienNumber: { type: string }
                  isProvisional: { type: boolean }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: IEN déjà porté par un autre élève de l'école, ou tentative d'écraser un IEN officiel par un provisoire.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422':
          description: >
            Forme d'IEN invalide. ATTENTION — le contrôle porte sur la FORME uniquement : aucune
            vérification d'authenticité auprès du SIMEN n'est possible à ce jour.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /state-integration/students/{studentId}/mutation-certificate:
    post:
      tags: [StateIntegration]
      summary: Délivre le certificat de mutation (PDF avec QR de vérification)
      description: >
        POST bien qu'il renvoie un PDF&#58; il ÉCRIT (numéro officiel séquentiel, ligne en base, code de
        vérification), et deux appels produisent deux certificats distincts (Volume 1 §23.5).


        Un solde impayé N'EMPÊCHE JAMAIS la délivrance — refuser un certificat à un élève débiteur
        reviendrait à le retenir de force dans l'établissement. Le PDF porte une MENTION de situation
        financière, jamais un montant.
      parameters:
        - name: studentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [schoolYearId, reason]
              properties:
                schoolYearId: { type: string, format: uuid }
                reason:
                  type: string
                  enum: [Demenagement, ChangementEtablissement, RaisonFamiliale, RaisonMedicale, Autre]
                reasonDetails:
                  type: string
                  maxLength: 300
                  description: Obligatoire lorsque `reason = Autre`.
                destinationSchoolName: { type: string, maxLength: 150, nullable: true }
                destinationCity: { type: string, maxLength: 100, nullable: true }
      responses:
        '200':
          description: Le certificat en PDF.
          headers:
            X-Certificate-Number:
              description: Numéro officiel délivré (ex. MUT-2026-0007).
              schema: { type: string }
            X-Financially-Clear:
              description: L'élève était-il à jour au jour de la délivrance. Ne bloque jamais.
              schema: { type: string, enum: ['true', 'false'] }
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Élève, année scolaire, ou inscription active sur cette année, introuvable.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /state-integration/certificates:
    get:
      tags: [StateIntegration]
      summary: Registre des certificats de mutation délivrés
      description: >
        Du plus récent au plus ancien. Les certificats RÉVOQUÉS restent dans la liste, marqués — une
        pièce révoquée doit rester traçable. `studentId` restreint à un élève (fiche élève).
      parameters:
        - name: studentId
          in: query
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/PageNumber' }
        - { $ref: '#/components/parameters/PageSize' }
      responses:
        '200':
          description: Page du registre.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount: { type: integer }
                  page: { type: integer }
                  pageSize: { type: integer }
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        certificateNumber: { type: string }
                        studentId: { type: string, format: uuid }
                        studentFullName: { type: string }
                        studentMatricule: { type: string }
                        schoolYearLabel: { type: string }
                        classroomNameSnapshot: { type: string }
                        reason:
                          type: string
                          enum: [Demenagement, ChangementEtablissement, RaisonFamiliale, RaisonMedicale, Autre]
                        destinationSchoolName: { type: string, nullable: true }
                        destinationCity: { type: string, nullable: true }
                        wasFinanciallyClear: { type: boolean }
                        issuedOn: { type: string, format: date }
                        revokedAt: { type: string, format: date-time, nullable: true }
                        revocationReason: { type: string, nullable: true }
                        isRevoked: { type: boolean }
        '403': { $ref: '#/components/responses/Forbidden' }

  /state-integration/certificates/{id}/revoke:
    post:
      tags: [StateIntegration]
      summary: Révoquer un certificat de mutation
      description: >
        La révocation est le SEUL moyen de corriger une pièce délivrée : un certificat n'est jamais
        modifié (Volume 1 §23.5). Effet immédiat sur le point de vérification publique. Motif
        obligatoire. La ligne reste en base — aucune suppression physique (règle #6).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 300 }
      responses:
        '204': { description: Certificat révoqué. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Le certificat est déjà révoqué.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /state-integration/certificates/verify/{token}:
    get:
      tags: [StateIntegration]
      summary: Vérification PUBLIQUE d'un certificat de mutation (scan du QR)
      description: >
        ANONYME (`security: []`) — c'est l'école d'accueil, extérieure à la plateforme, qui scanne le
        QR imprimé sur le certificat (Volume 1 §23.5).


        La réponse ne porte AUCUNE donnée de l'élève : seulement de quoi rapprocher le PAPIER présenté
        (statut, numéro, date, établissement émetteur). Un `token` inconnu répond `unknown` avec un
        HTTP 200 — jamais un 404 : distinguer les deux permettrait de sonder les numéros voisins.


        Rate-limité par IP (même politique que l'annuaire public).
      security: []
      parameters:
        - name: token
          in: path
          required: true
          description: Le code de vérification encodé dans le QR (32 caractères hexadécimaux d'aléa).
          schema: { type: string }
      responses:
        '200':
          description: >
            Résultat de la vérification. `status` vaut `valid`, `revoked` ou `unknown`. Pour `unknown`,
            tous les autres champs sont nuls.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [valid, revoked, unknown] }
                  certificateNumber: { type: string, nullable: true }
                  issuedOn: { type: string, format: date, nullable: true }
                  issuingSchoolName: { type: string, nullable: true }
                  revokedAt: { type: string, format: date-time, nullable: true }
        '429': { $ref: '#/components/responses/RateLimited' }

  /state-integration/students/{studentId}/skills-booklet:
    get:
      tags: [StateIntegration]
      summary: Livret de compétences de l'élève (PDF APC, multi-pages)
      description: >
        Document APC pluri-trimestres remis avec le certificat lors d'une mutation (Volume 1 §23.6).
        La grille vient de la même configuration d'école que le bulletin APC. Une case vide signifie
        « compétence non évaluée sur cette période », jamais « non acquis ».
      parameters:
        - name: studentId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: schoolYearId
          in: query
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Le livret en PDF (peut compter plusieurs pages).
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: >
            Le niveau de la classe n'a pas de grille de compétences configurée : le livret ne
            s'applique qu'à l'approche par compétences. Utilisez le bulletin de notes.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /auth/login:
    post:
      tags: [Auth]
      summary: Authentification par email/mot de passe
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        '200':
          description: Connexion réussie
          headers:
            Set-Cookie:
              description: >-
                Refresh token, `HttpOnly; Secure; SameSite=Strict; Path=/api/v1/auth`.
                Seul canal par lequel ce jeton est délivré.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401':
          description: Identifiants invalides
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Renouvellement du token d'accès
      description: >-
        Sans corps de requête : le refresh token est lu dans le cookie `sama_ecole_refresh_token`,
        que le navigateur joint automatiquement. Le jeton présenté est révoqué et remplacé
        (rotation) ; un jeton déjà consommé qui serait rejoué révoque TOUTE la famille de jetons de
        l'utilisateur. Le client doit donc sérialiser ses renouvellements concurrents.
      security: []
      responses:
        '200':
          description: Nouveaux jetons — le cookie de refresh est remplacé
          headers:
            Set-Cookie:
              description: Nouveau refresh token (l'ancien est révoqué).
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401':
          description: Cookie absent, expiré, révoqué ou rejoué — le cookie est purgé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Révocation des refresh tokens de l'utilisateur courant
      description: >-
        Révoque TOUS les refresh tokens actifs de l'utilisateur (identifié par son JWT) et purge le
        cookie. L'access token déjà émis reste valide jusqu'à son expiration : l'API est sans état.
      responses:
        '204': { description: Déconnecté — le cookie de refresh est purgé }

  /users:
    get:
      tags: [Users]
      summary: Lister les utilisateurs de l'établissement courant (Directeur uniquement)
      description: >-
        Liste PLATE, non paginée : le personnel d'un établissement se compte en dizaines, pas en
        milliers (à la différence de /students). L'école vient du JWT, jamais d'un paramètre.
      responses:
        '200':
          description: Comptes de l'établissement courant
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/UserSummary' } }
    post:
      tags: [Users]
      summary: Créer un compte Secrétariat/Finance/Enseignant/Surveillant (Directeur uniquement)
      description: >-
        Quatre rôles assignables, alignés sur CreateUserCommandValidator.AssignableRoles :
        Secretariat, Finance, Enseignant et Surveillant. Ce dernier manquait à ce résumé alors que le
        serveur l'accepte et que l'écran Utilisateurs le propose — tout le module Surveillance
        (appel en classe, billets d'entrée, discipline, convocations) repose pourtant sur lui.
        SuperAdmin et Directeur sont volontairement exclus : SuperAdmin est un rôle plateforme hors
        du contrôle d'une école, Directeur ne se crée que via POST /schools (JGK-B01). Le mot de
        passe est saisi DIRECTEMENT par le Directeur, jamais généré ni envoyé par e-mail
        (l'adaptateur SMTP réel relève de JGK-G03, hors périmètre MVP).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserCreateRequest' }
      responses:
        '201': { description: Créé, content: { application/json: { schema: { $ref: '#/components/schemas/User' } } } }
        '403': { description: Rôle appelant non autorisé, ou rôle demandé non assignable }
        '422': { $ref: '#/components/responses/ValidationError' }

  /users/{userId}/password:
    patch:
      tags: [Users]
      summary: Réinitialiser le mot de passe d'un compte (Directeur uniquement)
      description: >-
        Toutes les sessions actives du compte sont révoquées (même raisonnement que le blocage,
        JGK-A05) : un mot de passe qu'on vient de changer ne doit pas laisser une session ouverte
        utilisable sous l'ancien. Un Directeur ne peut pas réinitialiser son propre mot de passe par
        cette voie.
      parameters:
        - $ref: '#/components/parameters/EntityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newPassword]
              properties:
                newPassword: { type: string, format: password }
      responses:
        '200': { description: Mot de passe réinitialisé, sessions révoquées }
        '403': { description: Rôle appelant non autorisé, ou cible = l'acteur lui-même }
        '404': { description: Utilisateur introuvable dans l'établissement courant }
        '422': { $ref: '#/components/responses/ValidationError' }

  /users/{userId}/status:
    patch:
      tags: [Users]
      summary: Suspendre / bloquer / réactiver un utilisateur
      parameters:
        - $ref: '#/components/parameters/EntityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status, reason]
              properties:
                status: { type: string, enum: [Active, Suspended, Blocked] }
                reason: { type: string }
      responses:
        '200': { description: Statut mis à jour }

  /audit-logs:
    get:
      tags: [AuditLogs]
      summary: Journal d'audit de l'établissement courant (Directeur uniquement)
      description: >-
        Ticket JGK-H01. Lecture seule, paginée : les entrées sont écrites automatiquement par
        AuditLoggingBehavior (paiements, changements de statut/mot de passe/création de compte
        utilisateur, impressions de reçus), jamais par un appel client direct — append-only imposé
        jusqu'au niveau des GRANT PostgreSQL (SELECT, INSERT uniquement).

        Scope actuel : ne couvre pas encore la connexion (JGK-A04) ni les actions Super Admin (ex.
        création d'établissement) — l'acteur n'a alors aucun SchoolId propre, ce qui exigerait sa
        propre fonction SECURITY DEFINER (comme provision_school_director, JGK-B01).
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - name: module
          in: query
          description: Filtre sur le domaine fonctionnel (ex. "Finance", "Users").
          schema: { type: string }
        - name: success
          in: query
          description: true = succès uniquement, false = échecs uniquement, absent = tous.
          schema: { type: boolean }
      responses:
        '200':
          description: Liste paginée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedAuditLogs' }
        '403': { description: Rôle appelant non autorisé (réservé au Directeur) }

  /admin/platform/dashboard:
    get:
      tags: [Platform]
      summary: Agrégats plateforme, toutes écoles confondues (Super Admin uniquement)
      description: >-
        Le Super Admin n'a aucun SchoolId propre : une requête EF Core normale sur les tables tenant
        (schools/users/subscriptions/subscription_payments) ne renverrait donc rien (RLS, AGENTS.md
        règle #2). Lit la vue PostgreSQL `v_platform_dashboard_stats` (migration
        AddPlatformAdminViews), qui contourne l'isolation via `security_invoker = false` +
        OWNER sama_ecole — jamais en affaiblissant les policies existantes.
      responses:
        '200':
          description: Agrégats plateforme
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlatformDashboardStats' }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }

  /admin/platform/activity:
    get:
      tags: [Platform]
      summary: Journal d'audit de toutes les écoles, paginé (Super Admin uniquement)
      description: >-
        Même principe que /admin/platform/dashboard, mais pour `audit_logs` : appelle la fonction
        PostgreSQL SECURITY DEFINER `get_global_audit_logs(limit, offset)` (migration
        AddPlatformAdminViews), qui contourne la RLS pour ce seul rôle de façon auditée et volontaire.
        `audit_logs` reste par ailleurs une table tenant normale (RLS + Global Query Filter) pour
        tous les autres appelants.
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Liste paginée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedGlobalAuditLogs' }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }

  /admin/platform/subscriptions:
    get:
      tags: [Platform]
      summary: Abonnements de toutes les écoles, avec dernier paiement confirmé (Super Admin uniquement)
      description: >-
        Même principe que /admin/platform/dashboard : lit la vue PostgreSQL `v_platform_subscriptions`
        (migration AddPlatformSubscriptionsAndImpersonation), qui contourne la RLS de
        `subscriptions`/`subscription_payments` via `security_invoker = false` + OWNER sama_ecole.
        Liste complète, non paginée (nombre d'écoles modeste), filtrage/recherche côté client comme
        GET /schools.
      responses:
        '200':
          description: Liste des abonnements
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/PlatformSubscription' } }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }

  /admin/platform/revenue-projection:
    get:
      tags: [Platform]
      summary: Projection de revenu sur 12 mois, basée sur les échéances réelles (Super Admin uniquement)
      description: >-
        Alimente le graphique de projection de l'Executive Dashboard. Pour chaque école à
        l'abonnement Active, projette ses échéances de renouvellement futures (ExpiresAt, puis +N
        fois la période de facturation de son dernier paiement confirmé) sur les 12 prochains mois et
        cumule le montant attendu par mois. Contrairement au MRR (équivalent mensuel lissé), reflète
        le cash réellement attendu mois par mois — un abonnement Yearly n'apparaît qu'au(x) mois de
        son échéance. Aucune hypothèse de croissance (nouvelles écoles) : voir le Simulateur de
        Croissance, purement côté client (ARPU × nombre d'écoles cible), pour ce scénario.
      responses:
        '200':
          description: 12 points mensuels, du mois courant inclus aux 11 mois suivants
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/MonthlyRevenueProjection' } }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }

  /admin/platform/subscriptions/{schoolId}/remind:
    post:
      tags: [Platform]
      summary: Envoyer un rappel de paiement au Directeur de l'établissement (Super Admin uniquement)
      description: >-
        Bouton « Relancer » de l'écran Abonnements & Facturation. N'écrit AUCUN paiement ni statut
        d'abonnement (AGENTS.md règle #11) : envoie un e-mail de rappel au Directeur actif de
        l'établissement, retrouvé via la fonction SECURITY DEFINER
        `auth_find_active_director_by_school`. Écrit une entrée d'audit sur l'école ciblée.
      parameters:
        - name: schoolId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Rappel envoyé }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }
        '404': { description: Établissement introuvable }
        '409': { description: Aucun compte Directeur actif pour cet établissement }

  /admin/platform/schools/{schoolId}/impersonate:
    post:
      tags: [Platform]
      summary: Ouvrir une session Directeur pour l'établissement ciblé (Super Admin uniquement)
      description: >-
        Bouton « Infiltrer » de l'écran Établissements. Émet un jeton de MÊME format qu'un jeton
        normal (sub/schoolId/role, AGENTS.md règle #10), portant l'identité du Directeur actif de
        l'établissement ciblé, avec un claim `impersonatedBy` supplémentaire traçant l'acteur réel.
        AUCUN refresh token n'accompagne ce jeton : la session expire pour de bon avec l'access token
        (~15 min) et ne se renouvelle jamais — sortir plus tôt échange le cookie de refresh du Super
        Admin (resté intact) contre ses propres jetons. Écrit une entrée d'audit OBLIGATOIRE sur
        l'école ciblée avant de renvoyer le jeton.
      parameters:
        - name: schoolId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Jeton d'impersonation
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImpersonateSchoolResult' }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }
        '404': { description: Établissement introuvable }
        '409': { description: Aucun compte Directeur actif pour cet établissement }

  /admin/platform/schools/{schoolId}/complimentary-access:
    post:
      tags: [Platform]
      summary: Offrir un accès gratuit/complémentaire à un établissement (Super Admin uniquement)
      description: >-
        Aucun paiement : AGENTS.md règle #11 ne s'applique pas ici, ce n'est pas une confirmation
        d'encaissement. Écrit directement l'abonnement via la fonction SECURITY DEFINER
        `grant_complimentary_subscription` (le Super Admin n'a pas de SchoolId propre pour une écriture
        EF normale sur une table RLS). `durationMonths` entre 1 et 60.
      parameters:
        - name: schoolId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GrantComplimentaryAccessRequest' }
      responses:
        '204': { description: Accès complémentaire accordé }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }
        '404': { description: Aucun abonnement associé à cet établissement }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/platform/schools/{schoolId}/sms-credits:
    post:
      tags: [Platform]
      summary: Créditer le solde SMS d'un établissement (Super Admin uniquement)
      description: >-
        Incrément atomique de `SchoolSettings.SmsCreditBalance` (en segments), hors RLS via
        `IgnoreQueryFilters` — le Super Admin n'a pas de tenant. `segments` entre 1 et 1 000 000.
      parameters:
        - name: schoolId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TopUpSmsCreditsRequest' }
      responses:
        '200':
          description: Nouveau solde
          content:
            application/json:
              schema:
                type: object
                properties:
                  creditBalance: { type: integer }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }
        '404': { description: Aucun paramétrage trouvé pour cet établissement }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/platform/users/{userId}/schools:
    post:
      tags: [Platform]
      summary: Rattacher un utilisateur à un établissement supplémentaire (Super Admin uniquement)
      description: Idempotent — rattacher un établissement déjà associé répond 204 sans rien modifier.
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AttachSchoolRequest' }
      responses:
        '204': { description: Établissement rattaché }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }
        '404': { description: Utilisateur ou établissement introuvable }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/promo-codes:
    get:
      tags: [Platform]
      summary: Lister les codes promo (Super Admin uniquement)
      responses:
        '200':
          description: Liste des codes promo
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/PromoCode' } }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }
    post:
      tags: [Platform]
      summary: Créer un code promo (Super Admin uniquement)
      description: >-
        `code` est normalisé en MAJUSCULES et doit être unique (409 sinon, contrainte base). Selon
        `discountType` : Percentage (0,01-100 %) ou FixedAmount (> 0) réduisent le montant à payer ;
        FreeTrialMonths ou FullDiscount activent l'abonnement SANS AUCUN paiement — `durationMonths`
        devient alors obligatoire.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PromoCodeCreateRequest' }
      responses:
        '201':
          description: Code promo créé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PromoCodeCreateResult' }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }
        '409': { description: Ce code existe déjà }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/promo-codes/{id}/deactivate:
    post:
      tags: [Platform]
      summary: Désactiver un code promo (Super Admin uniquement)
      description: >-
        Bascule `isActive` à faux (AGENTS.md règle #6 — jamais de suppression physique).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Code promo désactivé }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }
        '404': { description: Code promo introuvable }

  /schools:
    get:
      tags: [Schools]
      summary: Lister les établissements (Super Admin uniquement)
      responses:
        '200': { description: Liste des établissements }
    post:
      tags: [Schools]
      summary: Créer un nouvel établissement (Super Admin uniquement)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchoolCreateRequest' }
      responses:
        '201': { description: Établissement créé }

  /schools/{schoolId}/status:
    patch:
      tags: [Schools]
      summary: Suspendre / bloquer / réactiver un établissement (Super Admin uniquement)
      description: >-
        Toute valeur autre qu'Active révoque IMMÉDIATEMENT les refresh tokens de tous les
        utilisateurs de l'établissement (fonction SECURITY DEFINER `revoke_refresh_tokens_by_school`) ;
        réactiver n'en révoque aucun. `reason` obligatoire (5 à 500 caractères), historisé (entrée
        d'audit `Schools`/`ChangeStatus:{ancien}->{nouveau} ({reason})`, attribuée à l'établissement
        ciblé). Une transition vers le statut déjà en cours répond 422 (pas d'effet de bord silencieux).
      parameters:
        - name: schoolId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChangeSchoolStatusRequest' }
      responses:
        '200':
          description: Statut mis à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChangeSchoolStatusResult' }
        '403': { description: Rôle appelant non autorisé (réservé au Super Admin) }
        '404': { description: Établissement introuvable }
        '422': { $ref: '#/components/responses/ValidationError' }

  /schools/current:
    get:
      tags: [Schools]
      summary: Identité de l'établissement courant (nom, coordonnées, logo)
      description: >-
        L'établissement est déduit du JWT (jamais un paramètre). Lecture ouverte à tous les rôles —
        le nom et les coordonnées figurent sur le reçu et les écrans. À distinguer de POST /schools
        (création par le Super Admin).
      responses:
        '200':
          description: Fiche de l'établissement
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolProfile' }
    put:
      tags: [Schools]
      summary: Mettre à jour l'identité de l'établissement (Directeur uniquement)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchoolProfile' }
      responses:
        '200':
          description: Fiche mise à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolProfile' }
        '403': { description: Rôle non autorisé (écriture réservée au Directeur) }
        '422': { description: Données invalides (nom manquant, URL de logo invalide…) }

  /schools/current/reset-data:
    post:
      tags: [Schools]
      summary: Réinitialiser les données de l'établissement (Directeur uniquement)
      description: >-
        « Zone de danger » de l'écran Paramètres — remet l'établissement à neuf après une phase
        d'essai. Efface DÉFINITIVEMENT (seule exception du produit à la suppression logique) les
        élèves, inscriptions, notes, appréciations de bulletin, appels, sanctions, convocations, SMS,
        paiements, sessions de caisse, décaissements et compteurs de matricules de l'établissement
        déduit du JWT — jamais d'un identifiant fourni par l'appelant. Sont CONSERVÉS les comptes
        utilisateurs, la fiche et les réglages de l'école, les années scolaires et trimestres, les
        classes, matières, mentions, enseignants, le barème des frais et le journal d'audit.
        `confirmation` doit valoir exactement `PURGER` (casse comprise) ou le nom de l'établissement
        (casse indifférente) ; toute autre valeur est refusée en 422 sans rien effacer.
        Indisponible en **mode réel** (voir `POST /schools/current/go-live`) — refusé en 409
        `RESET_UNAVAILABLE_LIVE_MODE`, mais un retour en mode test (`POST
        /schools/current/revert-to-test`) la rouvre. Indisponible DE FAÇON DÉFINITIVE si
        l'établissement a été verrouillé (`POST /schools/current/lock-production`) — refusé en 409
        `RESET_UNAVAILABLE_PRODUCTION_LOCKED`, quel que soit le mode. Les deux gardes sont vérifiées
        avant même de regarder `confirmation`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmation]
              properties:
                confirmation:
                  type: string
                  description: "`PURGER` ou le nom exact de l'établissement."
                  example: PURGER
      responses:
        '200':
          description: Établissement réinitialisé — compte rendu de ce qui a été effacé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolDataResetSummary' }
        '403': { description: Réservé au Directeur }
        '409':
          description: >-
            Réinitialisation indisponible — code `RESET_UNAVAILABLE_LIVE_MODE` (mode réel, réversible)
            ou `RESET_UNAVAILABLE_PRODUCTION_LOCKED` (verrouillage définitif, irréversible)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /schools/current/mode:
    get:
      tags: [Schools]
      summary: État « bac à sable / mode réel » de l'établissement courant
      description: >-
        Lecture LÉGÈRE, ouverte à tout rôle de l'école. Alimente la pastille « Mode test » de la
        barre supérieure et les régimes de la « Zone de danger » de l'écran Paramètres. Mode
        (isLive/wentLiveAt) et verrouillage définitif (isProductionLocked/productionLockedAt) sont
        deux dimensions INDÉPENDANTES depuis le 19/09/2026.
      responses:
        '200':
          description: État courant
          content:
            application/json:
              schema:
                type: object
                required: [isLive, isProductionLocked]
                properties:
                  isLive: { type: boolean }
                  wentLiveAt: { type: string, format: date-time, nullable: true }
                  isProductionLocked:
                    type: boolean
                    description: >-
                      Verrou PERMANENT, posé UNIQUEMENT par `POST /schools/current/lock-production`
                      (jamais par le passage en mode réel). L'écran s'en sert pour ne jamais proposer
                      « Réinitialiser l'école » dans ce cas — la purge serait de toute façon refusée
                      (409 RESET_UNAVAILABLE_PRODUCTION_LOCKED).
                  productionLockedAt: { type: string, format: date-time, nullable: true }

  /schools/current/go-live:
    post:
      tags: [Schools]
      summary: Passer l'établissement en mode réel (Directeur uniquement)
      description: >-
        Bascule DÉLIBÉRÉE et PLEINEMENT RÉVERSIBLE du mode test (bac à sable) vers le mode réel
        (exploitation). Jamais un effet de bord d'une autre opération, et depuis le 19/09/2026 elle ne
        pose plus aucun verrou permanent. Conséquence, UNIQUEMENT le temps du mode réel : `POST
        /schools/current/reset-data` devient indisponible (409 `RESET_UNAVAILABLE_LIVE_MODE`) — un
        retour en mode test (`POST /schools/current/revert-to-test`, disponible à tout moment) la
        rouvre, sauf verrouillage définitif (`POST /schools/current/lock-production`). Non rejouable
        tel quel : un second appel renvoie 409 `ALREADY_LIVE`. `confirmation` doit valoir exactement
        `CONFIRMER` (casse comprise) ou le nom de l'établissement (casse indifférente).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmation]
              properties:
                confirmation:
                  type: string
                  description: "`CONFIRMER` ou le nom exact de l'établissement."
                  example: CONFIRMER
      responses:
        '200':
          description: Établissement passé en mode réel
          content:
            application/json:
              schema:
                type: object
                required: [wentLiveAt]
                properties:
                  wentLiveAt: { type: string, format: date-time }
        '403': { description: Réservé au Directeur }
        '409':
          description: Déjà en mode réel — code `ALREADY_LIVE`
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /schools/current/revert-to-test:
    post:
      tags: [Schools]
      summary: Repasser l'établissement en mode test (Directeur uniquement)
      description: >-
        Bascule DÉLIBÉRÉE du mode réel vers le mode test, disponible À TOUT MOMENT (aucun drapeau
        d'environnement) pour que le Directeur garde le contrôle de son environnement. Rouvre `POST
        /schools/current/reset-data`, sauf verrouillage définitif : ne touche JAMAIS à
        `School.IsProductionLocked` (posé uniquement par `POST /schools/current/lock-production`).
        Seul `wentLiveAt` (l'horodatage COURANT) est effacé, ce qui permet de rejouer `POST
        /schools/current/go-live`. `confirmation` doit valoir exactement `TEST` (casse comprise) ou
        le nom de l'établissement (casse indifférente).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmation]
              properties:
                confirmation:
                  type: string
                  description: "`TEST` ou le nom exact de l'établissement."
                  example: TEST
      responses:
        '200':
          description: Établissement repassé en mode test
          content:
            application/json:
              schema:
                type: object
                required: [wasLive]
                properties:
                  wasLive:
                    type: boolean
                    description: Vrai si l'établissement était effectivement en mode réel avant l'appel.
        '403': { description: Réservé au Directeur }
        '422': { $ref: '#/components/responses/ValidationError' }

  /schools/current/lock-production:
    post:
      tags: [Schools]
      summary: Verrouiller définitivement la purge de l'établissement (Directeur uniquement)
      description: >-
        Action EXPLICITE et distincte de `POST /schools/current/go-live` : verrouille DE FAÇON
        DÉFINITIVE `POST /schools/current/reset-data` (`School.IsProductionLocked`), quel que soit le
        régime test/réel ultérieur. Non rejouable en sens inverse : aucune route ne remet ce verrou à
        faux. `confirmation` doit valoir exactement `VERROUILLER` (casse comprise) ou le nom de
        l'établissement (casse indifférente).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmation]
              properties:
                confirmation:
                  type: string
                  description: "`VERROUILLER` ou le nom exact de l'établissement."
                  example: VERROUILLER
      responses:
        '200':
          description: Établissement verrouillé définitivement
          content:
            application/json:
              schema:
                type: object
                required: [lockedAt]
                properties:
                  lockedAt: { type: string, format: date-time }
        '403': { description: Réservé au Directeur }
        '409':
          description: Déjà verrouillé — code `ALREADY_LOCKED`
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /schools/current/settings:
    get:
      tags: [Schools]
      summary: Paramètres de l'établissement courant
      responses:
        '200':
          description: Paramètres
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolSettings' }
    put:
      tags: [Schools]
      summary: Mettre à jour les paramètres (Directeur uniquement)
      description: >-
        `smsCreditBalance` est en lecture seule (absent du corps envoyé) : il ne se crédite que via
        POST /admin/platform/schools/{schoolId}/sms-credits (Super Admin). Les champs `*SignatureUrl`/
        `officialStampUrl` (dont `surveillantSignatureUrl`) sont de simples URL — le fichier transite
        par les endpoints de téléversement dédiés (POST .../director-signature, etc.).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchoolSettings' }
      responses:
        '200':
          description: Paramètres mis à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolSettings' }
        '403': { description: Réservé au Directeur }
        '422': { $ref: '#/components/responses/ValidationError' }

  /schools/current/settings/director-signature:
    post:
      tags: [Schools]
      summary: Téléverser la signature du Directeur (Directeur uniquement)
      description: >-
        multipart/form-data, champ `file` — image/png, image/jpeg ou image/webp, 2 Mio maximum.
        Renvoie l'URL relative à reporter ensuite dans `directorSignatureUrl` via
        PUT /schools/current/settings (flux en deux temps : téléverser, puis enregistrer l'URL). Même
        contrat pour secretary-signature, cashier-signature, surveillant-signature et official-stamp
        (préfixe de fichier différent seulement).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        '200':
          description: Fichier enregistré
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SignatureUploadResult' }
        '400':
          description: "Fichier manquant, trop volumineux (> 2 Mio) ou format non supporté"
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: string, enum: [FILE_MISSING, FILE_TOO_LARGE, INVALID_FILE_FORMAT] }
                  message: { type: string }
        '403': { description: Réservé au Directeur }

  /schools/current/settings/secretary-signature:
    post:
      tags: [Schools]
      summary: Téléverser la signature du Secrétariat (Directeur uniquement)
      description: Même contrat que POST /schools/current/settings/director-signature.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        '200':
          description: Fichier enregistré
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SignatureUploadResult' }
        '400': { description: "Fichier manquant, trop volumineux (> 2 Mio) ou format non supporté" }
        '403': { description: Réservé au Directeur }

  /schools/current/settings/cashier-signature:
    post:
      tags: [Schools]
      summary: Téléverser la signature de la Caisse (Directeur uniquement)
      description: Même contrat que POST /schools/current/settings/director-signature.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        '200':
          description: Fichier enregistré
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SignatureUploadResult' }
        '400': { description: "Fichier manquant, trop volumineux (> 2 Mio) ou format non supporté" }
        '403': { description: Réservé au Directeur }

  /schools/current/settings/surveillant-signature:
    post:
      tags: [Schools]
      summary: Téléverser la signature du Surveillant Général (Directeur uniquement)
      description: >-
        Même contrat que POST /schools/current/settings/director-signature. L'URL renvoyée alimente
        `surveillantSignatureUrl`, injectée sur les billets d'entrée/sortie et les fiches de discipline
        (Vie Scolaire).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        '200':
          description: Fichier enregistré
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SignatureUploadResult' }
        '400': { description: "Fichier manquant, trop volumineux (> 2 Mio) ou format non supporté" }
        '403': { description: Réservé au Directeur }

  /schools/current/settings/official-stamp:
    post:
      tags: [Schools]
      summary: Téléverser le cachet officiel de l'établissement (Directeur uniquement)
      description: Même contrat que POST /schools/current/settings/director-signature.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        '200':
          description: Fichier enregistré
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SignatureUploadResult' }
        '400': { description: "Fichier manquant, trop volumineux (> 2 Mio) ou format non supporté" }
        '403': { description: Réservé au Directeur }

  /school-years:
    get:
      tags: [SchoolYears]
      summary: Lister les années scolaires de l'établissement courant
      description: >-
        L'établissement est déduit du JWT : il n'est jamais un paramètre. Lecture ouverte à tous les
        rôles — l'année active est le contexte de travail de tous les écrans. `isClosed` est calculé
        à la lecture : une année terminée est en lecture seule.
      responses:
        '200':
          description: Liste des années scolaires, la plus récente d'abord
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SchoolYear' }
    post:
      tags: [SchoolYears]
      summary: Créer une nouvelle année scolaire (Directeur)
      description: >-
        Créer une année ne fait PAS basculer l'établissement dessus : elle est créée inactive, et le
        basculement passe par `/school-years/{id}/activate`. Seule exception, la première année d'une
        école devient active d'office — sans année active, rien n'est inscriptible. Une année déjà
        terminée n'est jamais activée automatiquement.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchoolYearCreateRequest' }
      responses:
        '201':
          description: Année scolaire créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolYear' }
        '403': { description: Réservé au Directeur }
        '409':
          description: Une année de ce libellé existe déjà dans cet établissement
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /school-years/{id}:
    delete:
      tags: [SchoolYears]
      summary: Supprimer une année scolaire (Directeur, libellé exact à recopier)
      description: >-
        DEUX RÉGIMES, selon le mode de l'établissement.

        MODE TEST (bac à sable) : l'année et TOUT ce qu'elle porte — inscriptions, paiements, notes,
        appréciations, appels, affectations, examens, certificats de mutation, trimestres — sont
        effacés définitivement, lignes en suppression logique comprises. Les ÉLÈVES survivent : ils
        appartiennent à l'établissement, pas à un exercice.

        MODE RÉEL : l'année n'est retirée que si elle ne porte AUCUNE donnée (cas réel : une année
        créée par erreur ou préparée puis abandonnée) ; elle est alors ARCHIVÉE, en suppression
        logique, avec ses trimestres et ses affectations. Dès qu'une inscription, une note ou une
        fiche d'appel y est rattachée, la suppression est refusée en 409 `SCHOOL_YEAR_HAS_DATA` :
        ces écritures sont la contrepartie de reçus déjà remis aux familles (AGENTS.md règle #6).
        L'export ZIP (`GET /school-years/{id}/export`) reste la voie d'archivage hors plateforme.

        Le corps porte le LIBELLÉ EXACT de l'année (« 2025-2026 »), et non un mot-clé générique :
        recopier le libellé oblige à regarder la ligne qu'on supprime. Si l'année supprimée était
        l'année ACTIVE, l'établissement rebascule sur l'année ouverte la plus proche (la précédente
        d'abord, la suivante à défaut) ; jamais sur une année terminée. Quand il n'en reste aucune,
        `requiresActiveYearSelection` vaut true et le Directeur doit en activer ou en créer une.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmation]
              properties:
                confirmation:
                  type: string
                  maxLength: 20
                  description: Libellé exact de l'année à supprimer, ex. « 2025-2026 ».
                  example: '2025-2026'
      responses:
        '200':
          description: Année supprimée (mode test) ou archivée (mode réel)
          content:
            application/json:
              schema:
                type: object
                properties:
                  label: { type: string, example: '2025-2026' }
                  wasActive:
                    type: boolean
                    description: L'établissement travaillait sur cette année.
                  wasPurged:
                    type: boolean
                    description: true en mode test (effacement définitif), false en mode réel (archivage).
                  newActiveYear:
                    allOf: [{ $ref: '#/components/schemas/SchoolYear' }]
                    nullable: true
                    description: Année sur laquelle l'établissement a rebasculé, le cas échéant.
                  requiresActiveYearSelection:
                    type: boolean
                    description: >-
                      true quand l'établissement se retrouve sans année active : aucune année ouverte
                      ne restait. Aucune inscription ni note ne peut être saisie tant qu'il en manque une.
                  summary:
                    type: object
                    nullable: true
                    description: Détail de ce qui a été effacé (mode test uniquement).
                    properties:
                      totalRowsDeleted: { type: integer, example: 143 }
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            label: { type: string, example: Inscriptions }
                            rowsDeleted: { type: integer, example: 42 }
        '403': { description: Réservé au Directeur }
        '404': { description: Année scolaire introuvable dans cet établissement }
        '409':
          description: >-
            `SCHOOL_YEAR_HAS_DATA` — en mode réel, l'année porte des données et ne peut pas être
            supprimée. Le message énumère ce qui bloque.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422':
          description: Confirmation absente ou différente du libellé exact de l'année.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /school-years/{id}/activate:
    post:
      tags: [SchoolYears]
      summary: Faire de cette année l'année active (Directeur, double confirmation)
      description: >-
        Une seule année est active à la fois : l'année active précédente est désactivée dans la même
        transaction, et l'unicité est garantie par un index PostgreSQL, pas seulement par
        l'application. Une année TERMINÉE ne peut pas être activée (les années passées sont en
        lecture seule) ; une année à venir, si. Le mot de passe du Directeur est redemandé
        (Volume_7_Security §16 — « changement de l'année scolaire active »).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  format: password
                  description: Mot de passe du Directeur connecté — confirmation de l'opération.
      responses:
        '200':
          description: Année scolaire activée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolYear' }
        '403': { description: Réservé au Directeur }
        '404': { description: Année scolaire introuvable dans cet établissement }
        '422':
          description: >-
            Mot de passe de confirmation incorrect, ou année terminée (lecture seule).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /school-years/{id}/apply-evaluation-periods:
    post:
      tags: [SchoolYears]
      summary: Rejouer sur cette année le découpage en périodes choisi dans les réglages (Directeur)
      description: >-
        Remplace les périodes de l'année par celles du réglage courant `evaluationPeriodType` (voir
        SchoolSettings) : trimestres, semestres ou périodes personnalisées. Les anciennes périodes sont
        archivées (suppression logique), jamais effacées. Refusé (422) dès qu'UNE note ou UNE appréciation
        de bulletin est rattachée à l'une des périodes de l'année — blocage strict — et sur une année
        terminée. Idempotent : un découpage déjà conforme ne change rien.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Les périodes de l'année après application, dans l'ordre
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Term' }
        '403': { description: Réservé au Directeur }
        '404': { description: Année scolaire introuvable dans cet établissement }
        '422':
          description: >-
            Année terminée (lecture seule), ou notes / appréciations de bulletin déjà saisies sur l'année.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /school-years/{id}/export:
    get:
      tags: [SchoolYears]
      summary: Exporter les données d'une année scolaire en archive ZIP (Directeur)
      description: >-
        Archive ZIP contenant trois CSV — `eleves.csv`, `paiements.csv`, `classes.csv` — construits à
        partir des inscriptions NON annulées de cette année scolaire précise (une inscription annulée
        n'a jamais existé pour l'archive). Réservé au Directeur : l'export croise des données
        personnelles (élèves) et financières (paiements) sur l'ensemble de l'établissement, un
        périmètre plus large que celui d'un seul rôle métier. Disponible pour toute année, pas
        seulement les années terminées. Chaque export est journalisé dans les journaux d'audit.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Archive ZIP (Content-Type application/zip)
          content:
            application/zip:
              schema: { type: string, format: binary }
        '403': { description: Réservé au Directeur }
        '404': { description: Année scolaire introuvable dans cet établissement }

  /school-years/{id}/terms:
    get:
      tags: [SchoolYears]
      summary: Lister les périodes d'évaluation d'une année scolaire (générées automatiquement)
      description: >-
        Les périodes sont générées automatiquement à la création de l'année scolaire selon le réglage
        `evaluationPeriodType` de l'école — trois trimestres par défaut, deux semestres, ou 2 à 6 périodes
        personnalisées —, leurs dates divisant la période en tranches consécutives à parts égales.
        Aucun endpoint ne les crée directement (voir `POST /school-years/{id}/apply-evaluation-periods`
        pour rejouer un découpage). Lecture ouverte à tous les rôles : l'écran de saisie de notes en a besoin.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Les trimestres de cette année, dans l'ordre
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Term' }

  /classrooms:
    get:
      tags: [Classrooms]
      summary: Lister les classes de l'établissement courant
      description: >-
        L'établissement est déduit du JWT : il n'est jamais un paramètre. `studentCount` est
        calculé côté base.
      responses:
        '200':
          description: Liste des classes
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Classroom' }
    post:
      tags: [Classrooms]
      summary: Créer une classe (nomenclature libre, sans liste figée)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClassroomCreateRequest' }
      responses:
        '201':
          description: Classe créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Classroom' }
        '409':
          description: Une classe de ce nom existe déjà dans cet établissement
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /classrooms/{id}:
    put:
      tags: [Classrooms]
      summary: Corriger le libellé/niveau/capacité d'une classe déjà créée
      description: 'Réservé au Directeur et au Secrétariat. Verrou optimiste (rowVersion) — voir /grades/{id} pour le même contrat.'
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClassroomUpdateRequest' }
      responses:
        '200':
          description: Classe mise à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Classroom' }
        '403': { description: Réservé au Directeur et au Secrétariat }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Jeton de concurrence périmé, ou libellé déjà pris }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Classrooms]
      summary: Archiver (soft delete) une classe créée par erreur
      description: >-
        Réservé au Directeur et au Secrétariat. Refusée en 409 si des élèves sont encore rattachés à
        cette classe (AGENTS.md règle #6 : jamais de suppression physique).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: rowVersion
          in: query
          required: true
          schema: { type: integer, format: int64 }
      responses:
        '204': { description: Classe archivée }
        '403': { description: Réservé au Directeur et au Secrétariat }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: 'Jeton de concurrence périmé, ou des élèves sont rattachés à cette classe' }

  /subjects:
    get:
      tags: [Subjects]
      summary: Lister les matières de l'établissement courant
      description: >-
        L'établissement est déduit du JWT : il n'est jamais un paramètre. Lecture ouverte à tous les
        rôles — l'enseignant a besoin des coefficients, le secrétariat pour composer les bulletins.
        Triées par niveau puis par nom.
      responses:
        '200':
          description: Liste des matières
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Subject' }
    post:
      tags: [Subjects]
      summary: Créer une matière avec coefficient (Directeur)
      description: >-
        Le coefficient relève de la notation : réservé au Directeur (Volume 7 §15). Une même matière
        peut exister à plusieurs niveaux avec des coefficients différents — l'unicité porte sur
        (niveau, DOMAINE PARENT, nom), pas sur le nom seul : « Ressources » existe légitimement sous
        « Français » ET sous « Maths » dans la même grille, mais deux matières de premier niveau de
        même nom au même niveau restent refusées en 409.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubjectCreateRequest' }
      responses:
        '201':
          description: Matière créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subject' }
        '403': { description: Réservé au Directeur }
        '409':
          description: Une matière de ce nom existe déjà à ce niveau dans cet établissement
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /subjects/{id}:
    put:
      tags: [Subjects]
      summary: Corriger le libellé/niveau/coefficient/structure d'une matière déjà créée
      description: >-
        Même permission que la création (délégation Secrétariat via SchoolSettings, ticket JGK-G02).

        REMPLACEMENT COMPLET : omettre un champ de structure le remet à sa valeur par défaut —
        `parentSubjectId` absent détache l'activité de son domaine, `maxScore` absent lui rend le
        barème du cycle. Renvoyez la matière entière, y compris les champs que vous ne modifiez pas.

        Déplacer un DOMAINE vers un autre `level` emmène ses activités avec lui.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubjectUpdateRequest' }
      responses:
        '200':
          description: Matière mise à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subject' }
        '403': { description: Réservé au Directeur (ou au Secrétariat si la délégation est activée) }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Jeton de concurrence périmé, ou (niveau, domaine, nom) déjà pris }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Subjects]
      summary: Archiver (soft delete) une matière créée par erreur
      description: >-
        Refusée en 409 si des notes existent déjà pour cette matière, ou s'il s'agit d'un domaine qui
        porte encore des activités d'évaluation (elles seraient orphelines, donc absentes du bulletin
        sans le moindre message) : supprimez-les ou rattachez-les à un autre domaine d'abord.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: rowVersion
          in: query
          required: true
          schema: { type: integer, format: int64 }
      responses:
        '204': { description: Matière archivée }
        '403': { description: Réservé au Directeur (ou au Secrétariat si la délégation est activée) }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: 'Jeton de concurrence périmé, notes déjà saisies, ou domaine portant encore des activités' }

  /coefficients/catalog:
    get:
      tags: [Coefficients]
      summary: Catalogue fermé des séries de lycée (Évolution N°4)
      description: >-
        Directeur et Secrétariat. Servi par l'API plutôt que recopié côté client : une seule source de vérité.
      responses:
        '200':
          description: Les séries, dans l'ordre d'affichage
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SeriesItem' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /coefficients:
    get:
      tags: [Coefficients]
      summary: Grille des coefficients d'une série OU d'une classe pour une année
      description: >-
        Une ligne par matière hors primaire/maternelle (le niveau d'une matière étant un texte libre, on écarte
        ce que le calcul neutralise à 1). `effectiveCoefficient` est calculé par le serveur — classe, puis
        série, puis coefficient de la matière — et `source` dit d'où il vient. Directeur et Secrétariat.
        Exactement UNE portée : `series` OU `classroomId`, sinon 422. Une classe de primaire/maternelle est
        refusée en 422.
      parameters:
        - { name: series, in: query, schema: { type: string, enum: [L1A, L1B, "L'1", L2, S1, S2, S3, S4, S5, STEG, T1, T2, STIDD, LA, S1A, S2A, L1, TECH] } }
        - { name: classroomId, in: query, schema: { type: string, format: uuid } }
        - name: schoolYearId
          in: query
          schema: { type: string, format: uuid }
          description: Défaut — l'année scolaire ACTIVE.
      responses:
        '200':
          description: La grille
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CoefficientGrid' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }
    put:
      tags: [Coefficients]
      summary: Poser ou corriger une surcharge de coefficient (Directeur seul)
      description: >-
        Portée `series` OU `classroomId`, sur l'année ACTIVE résolue serveur. Création : sans `rowVersion`.
        Correction : `rowVersion` obligatoire (verrou optimiste xmin) — une correction sans jeton, ou un jeton
        périmé, répond 409 et n'écrase rien. Le coefficient suit les bornes d'une matière (> 0, ≤ 20). Chaque
        écriture est journalisée : elle recalcule des moyennes et des bulletins de l'année.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpsertCoefficientOverrideRequest' }
      responses:
        '200':
          description: La surcharge enregistrée, avec son nouveau jeton
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CoefficientOverrideResult' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: La ligne a changé entre-temps (jeton périmé ou manquant) }
        '422': { $ref: '#/components/responses/ValidationError' }

  /coefficients/{id}:
    delete:
      tags: [Coefficients]
      summary: « Rétablir » — supprimer (logiquement) une surcharge (Directeur seul)
      description: >-
        La matière retrouve la valeur de la portée supérieure (série, puis matière). Suppression LOGIQUE : la clé
        redevient libre. `rowVersion` en query string, comme `DELETE /subjects/{id}`.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: rowVersion, in: query, required: true, schema: { type: integer, format: int64 } }
      responses:
        '204': { description: Surcharge rétablie }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Surcharge introuvable dans l'établissement }
        '409': { description: Jeton périmé }

  /coefficients/apply-template:
    post:
      tags: [Coefficients]
      summary: « Appliquer le modèle » national d'une série (Directeur seul)
      description: >-
        Crée, pour l'année active, une surcharge de SÉRIE par matière reconnue dans le modèle (correspondance
        par nom : casse, accents et ponctuation ignorés). Ne modifie jamais le coefficient des matières ni les
        surcharges de classe. Sans `overwrite`, une surcharge de série déjà posée est conservée. Idempotent.
        Une série sans modèle (`TECH` aujourd'hui) répond 422.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApplySeriesTemplateRequest' }
      responses:
        '200':
          description: Rapport d'application
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApplyTemplateResult' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /coefficients/carry-over:
    post:
      tags: [Coefficients]
      summary: « Reprendre l'année précédente » (Directeur seul)
      description: >-
        Une nouvelle année démarre SANS surcharge : cette action explicite recopie celles de `fromSchoolYearId`
        vers l'année ACTIVE, sans rien écraser. Une ligne dont la matière ou la classe est archivée n'est pas
        recopiée. 422 si l'année source est l'année active ou introuvable.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fromSchoolYearId]
              properties:
                fromSchoolYearId: { type: string, format: uuid }
      responses:
        '200':
          description: Nombre de lignes recopiées / ignorées
          content:
            application/json:
              schema:
                type: object
                properties:
                  copied: { type: integer }
                  skipped: { type: integer }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }


  /class-subjects:
    get:
      tags: [ClassSubjects]
      summary: Programme d'une classe — matières, coefficients, options (Évolution N°6)
      description: >-
        Directeur et Secrétariat. Coefficient EFFECTIF de l'année active (classe, puis série, puis matière),
        valeur officielle du modèle de la série, groupe d'options et nombre d'élèves par option.
      parameters:
        - { name: classroomId, in: query, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Le programme
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClassSubjects' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [ClassSubjects]
      summary: Ajouter une matière propre à l'établissement au programme d'une classe (Directeur seul)
      description: >-
        Exactement UN de `subjectId` (matière existante) ou `newSubjectName` (créée au niveau de la classe).
        `coefficient` facultatif : s'il diffère du coefficient hérité, il devient la surcharge de classe de
        l'année active. 422 au primaire/maternelle ou si la matière figure déjà au programme.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [classroomId]
              properties:
                classroomId: { type: string, format: uuid }
                subjectId: { type: string, format: uuid, nullable: true }
                newSubjectName: { type: string, maxLength: 80, nullable: true }
                coefficient: { type: number, minimum: 0, exclusiveMinimum: true, maximum: 20, nullable: true }
                optionGroup: { type: string, maxLength: 40, nullable: true }
      responses:
        '201': { description: "Matière ajoutée — corps `{ id }`" }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: Matière ajoutée entre-temps par un autre utilisateur (index unique) }
        '422': { $ref: '#/components/responses/ValidationError' }

  /class-subjects/{id}:
    put:
      tags: [ClassSubjects]
      summary: Activer/désactiver une matière de classe et régler son groupe d'options (Directeur seul)
      description: >-
        Le coefficient se règle par PUT /coefficients (portée classe). Une matière désactivée sort des grilles
        de saisie et des bulletins de la classe, sans effacer ses notes. 409 si `rowVersion` est périmé.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [isActive, rowVersion]
              properties:
                isActive: { type: boolean }
                optionGroup: { type: string, maxLength: 40, nullable: true, description: Vide ou null — matière suivie par toute la classe }
                rowVersion: { type: integer, format: int64 }
      responses:
        '200': { description: '`{ id, rowVersion }`' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Jeton de concurrence périmé — rechargez la ligne }

  /class-subjects/reset:
    post:
      tags: [ClassSubjects]
      summary: « Réinitialiser aux coefficients officiels du Sénégal » (Directeur seul)
      description: >-
        Le programme et les coefficients de CLASSE redeviennent ceux du modèle national de la série, pour
        l'année active. Les matières ajoutées par l'établissement restent ; une matière d'un ancien modèle est
        désactivée. Ne modifie ni le coefficient d'une matière ni une surcharge de série. 422 sans série ou
        pour une série sans modèle.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [classroomId]
              properties:
                classroomId: { type: string, format: uuid }
      responses:
        '200':
          description: Rapport de réinitialisation
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClassTemplateReport' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /class-subjects/assign-default-options:
    post:
      tags: [ClassSubjects]
      summary: Donner l'option par défaut aux élèves sans choix (Directeur, Secrétariat)
      description: Année active. Ne modifie jamais un choix existant ; idempotente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [classroomId]
              properties:
                classroomId: { type: string, format: uuid }
      responses:
        '200':
          description: Élèves complétés et options attribuées
          content:
            application/json:
              schema:
                type: object
                properties:
                  studentsUpdated: { type: integer }
                  optionsAssigned: { type: integer }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /class-subjects/options:
    get:
      tags: [ClassSubjects]
      summary: Groupes d'options d'une classe, ou de la classe d'un élève avec ses choix (Directeur, Secrétariat)
      description: Exactement UN de `classroomId` (formulaire d'inscription) ou `studentId` (fiche élève), sinon 422.
      parameters:
        - { name: classroomId, in: query, schema: { type: string, format: uuid } }
        - { name: studentId, in: query, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Les groupes (liste vide si la classe n'en a aucun)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SubjectOptions' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /class-subjects/students/{studentId}/options:
    put:
      tags: [ClassSubjects]
      summary: Enregistrer les options d'un élève pour l'année active (Directeur, Secrétariat)
      description: >-
        `classSubjectIds` est la liste COMPLÈTE des options retenues (au plus une par groupe) ; un groupe absent
        reste sans option. L'ancien choix est archivé (suppression logique). 422 pour une option hors de la classe
        de l'élève ou deux options d'un même groupe.
      parameters:
        - { name: studentId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [classSubjectIds]
              properties:
                classSubjectIds:
                  type: array
                  items: { type: string, format: uuid }
      responses:
        '200':
          description: Les options retenues
          content:
            application/json:
              schema:
                type: array
                items: { type: string, format: uuid }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
  /students:
    get:
      tags: [Students]
      summary: Lister/rechercher les élèves
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - name: classroomId
          in: query
          schema: { type: string, format: uuid }
        - name: search
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Liste paginée d'élèves
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedStudents' }
    post:
      tags: [Students]
      summary: Inscrire un élève (le matricule est généré à l'enregistrement, jamais avant)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StudentCreateRequest' }
      responses:
        '201': { description: Élève créé, matricule généré, content: { application/json: { schema: { $ref: '#/components/schemas/Student' } } } }
        '422': { $ref: '#/components/responses/ValidationError' }

  /students/{studentId}:
    get:
      tags: [Students]
      summary: Fiche complète d'un élève
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: Fiche élève
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StudentProfile' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Students]
      summary: Corriger la fiche d'un élève (état civil, classe, tuteur) — matricule non modifiable
      description: 'Réservé au Directeur et au Secrétariat.'
      parameters:
        - $ref: '#/components/parameters/EntityId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StudentUpdateRequest' }
      responses:
        '200': { description: Fiche mise à jour, content: { application/json: { schema: { $ref: '#/components/schemas/Student' } } } }
        '403': { description: Réservé au Directeur et au Secrétariat }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Jeton de concurrence périmé }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Students]
      summary: Archiver (soft delete) une fiche élève créée par pure erreur de saisie
      description: 'Refusée en 409 dès qu''une inscription ou une note existe déjà pour cet élève.'
      parameters:
        - $ref: '#/components/parameters/EntityId'
        - name: rowVersion
          in: query
          required: true
          schema: { type: integer, format: int64 }
      responses:
        '204': { description: Fiche archivée }
        '403': { description: Réservé au Directeur et au Secrétariat }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: 'Jeton de concurrence périmé, ou une inscription/note existe déjà' }

  /teachers:
    get:
      tags: [Teachers]
      summary: Lister les enseignants (pagination, recherche)
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 20 }
        - name: search
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Liste paginée des enseignants
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedTeachers' }
        '403': { description: Rôle non autorisé (Volume_7_Security.md « Enseignants ») }
    post:
      tags: [Teachers]
      summary: Créer un enseignant (matricule généré à l'enregistrement, ticket JGK-D03)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TeacherCreateRequest' }
      responses:
        '201':
          description: Enseignant créé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TeacherResult' }
        '403': { description: Réservé au Directeur et au Secrétariat }
        '422': { $ref: '#/components/responses/ValidationError' }

  /teachers/export/pdf:
    get:
      tags: [Teachers]
      summary: « LISTE DES ENSEIGNANTS » en PDF (A4 paysage, sans pagination)
      description: >
        Pendant de GET /students/export/pdf pour le corps professoral. Mêmes rôles que la
        consultation de la liste (Volume_7_Security.md « Enseignants » : Super Admin, Directeur,
        Secrétariat) — un export n'ouvre aucune donnée que le rôle ne puisse déjà lire à l'écran ;
        le rôle Finance en est donc exclu, contrairement à l'export des élèves. Opération journalisée
        dans les journaux d'audit (Volume_7_Security.md §7).
      parameters:
        - name: status
          in: query
          description: Filtre optionnel sur le statut. Omis = tous les statuts.
          schema:
            type: string
            enum: [Active, Suspended, Blocked]
      responses:
        '200':
          description: La liste des enseignants au format PDF
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '403': { description: Rôle non autorisé (Volume_7_Security.md « Enseignants ») }

  /teachers/{id}:
    get:
      tags: [Teachers]
      summary: Fiche enseignant complète (ticket JGK-D04)
      description: >-
        Matières qualifiées, attributions classe/matière groupées par année scolaire — cette
        dernière liste EST l'historique, une attribution n'étant jamais réécrite d'une année sur l'autre.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Fiche enseignant
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TeacherProfile' }
        '403': { description: Rôle non autorisé (Volume_7_Security.md « Enseignants ») }
        '404': { description: Enseignant introuvable dans l'établissement courant }
    put:
      tags: [Teachers]
      summary: Corriger la fiche d'un enseignant (état civil, contact, matières qualifiées)
      description: >-
        Réservé au Directeur et au Secrétariat. Matricule et rattachement d'un compte de connexion
        (userId) non modifiables ici (voir TeacherUpdateRequest).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TeacherUpdateRequest' }
      responses:
        '200': { description: Fiche mise à jour, content: { application/json: { schema: { $ref: '#/components/schemas/Teacher' } } } }
        '403': { description: Réservé au Directeur et au Secrétariat }
        '404': { description: Enseignant introuvable dans l'établissement courant }
        '409': { description: Jeton de concurrence périmé }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Teachers]
      summary: Archiver (soft delete) une fiche enseignant créée par pure erreur de saisie
      description: 'Refusée en 409 dès qu''une attribution classe/matière/année existe déjà.'
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: rowVersion
          in: query
          required: true
          schema: { type: integer, format: int64 }
      responses:
        '204': { description: Fiche archivée }
        '403': { description: Réservé au Directeur et au Secrétariat }
        '404': { description: Enseignant introuvable dans l'établissement courant }
        '409': { description: 'Jeton de concurrence périmé, ou une attribution existe déjà' }

  /teachers/{id}/assignments:
    post:
      tags: [Teachers]
      summary: Attribuer une classe/matière à l'enseignant sur l'année scolaire active (ticket JGK-D04)
      description: >-
        Aucune année scolaire dans le corps de la requête : l'année ACTIVE est résolue serveur, jamais
        choisie par le client (même règle que POST /enrollments).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TeacherAssignmentCreateRequest' }
      responses:
        '201':
          description: Attribution créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TeacherAssignmentResult' }
        '403': { description: Réservé au Directeur et au Secrétariat }
        '404': { description: Enseignant introuvable dans l'établissement courant }
        '409': { description: Cette attribution (enseignant, classe, matière, année) existe déjà }
        '422': { $ref: '#/components/responses/ValidationError' }

  /attendance/roster:
    get:
      tags: [Attendance]
      summary: Grille d'appel d'une classe pour une date/matière/créneau (ticket JGK-D06)
      description: >-
        Génère la liste des élèves de la classe pour la saisie de l'appel. L'Enseignant n'y a accès que
        pour ses classes/matières assignées (403 sinon) ; Directeur et Secrétariat sans restriction. Si
        une fiche existe déjà pour cette clé, les statuts déjà saisis sont renvoyés (alreadySubmitted=true).
        Une `date` tombant un jour de repos de l'établissement (`SchoolSettings.workingDays`) est refusée (422).

        **Appel par créneau (Évolution N°5).** Avec `scheduleSlotId`, l'appel porte sur un cours de l'emploi du
        temps : la période est DÉRIVÉE du cours (« 08:00-10:00 ») et le paramètre `period` est ignoré. Le cours doit
        appartenir à la classe et à la matière demandées et tomber le bon jour de semaine (422 sinon) ; un Enseignant
        n'y accède que s'il en est le titulaire (403 sinon). Sans `scheduleSlotId`, `period` reste obligatoire :
        c'est l'appel libre d'avant. Un billet d'entrée actif visant ce cours présélectionne l'élève en `Late` et
        renseigne `entryTicketId`, `entryTicketNumber` et `entryTicketStatus` sur sa ligne.
      parameters:
        - name: classroomId
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: subjectId
          in: query
          required: true
[...]
