openapi: 3.0.3
info:
  title: Sama Ecole API
  description: >
    API REST de la plateforme SaaS de gestion scolaire Sama Ecole.
    Toutes les routes (sauf /auth/*) exigent un JWT Bearer valide.
    Le tenant (SchoolId) est dérivé du claim `schoolId` du token, jamais d'un paramètre de requête.
    Référence fonctionnelle complète : docs/Volume_4_API_Design.md
  version: "1.0.0"
servers:
  - url: https://api.sama-ecole.sn/v1
    description: Production
  - url: https://staging-api.sama-ecole.sn/v1
    description: Staging
  - url: http://localhost:5000/v1
    description: Développement local

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Users
  - name: Schools
  - name: SchoolYears
  - name: Classrooms
  - name: Subjects
  - name: Students
  - name: Teachers
  - name: Enrollments
  - name: Grades
  - name: ReportCards
  - name: Finance
  - name: Subscriptions
  - name: RegistrationRequests
  - name: Payments
  - name: Audit

paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: Authentification par email/mot de passe
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        '200':
          description: Connexion réussie
          headers:
            Set-Cookie:
              description: >-
                Refresh token, `HttpOnly; Secure; SameSite=Strict; Path=/api/v1/auth`.
                Seul canal par lequel ce jeton est délivré.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401':
          description: Identifiants invalides
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Renouvellement du token d'accès
      description: >-
        Sans corps de requête : le refresh token est lu dans le cookie `sama_ecole_refresh_token`,
        que le navigateur joint automatiquement. Le jeton présenté est révoqué et remplacé
        (rotation) ; un jeton déjà consommé qui serait rejoué révoque TOUTE la famille de jetons de
        l'utilisateur. Le client doit donc sérialiser ses renouvellements concurrents.
      security: []
      responses:
        '200':
          description: Nouveaux jetons — le cookie de refresh est remplacé
          headers:
            Set-Cookie:
              description: Nouveau refresh token (l'ancien est révoqué).
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401':
          description: Cookie absent, expiré, révoqué ou rejoué — le cookie est purgé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Révocation des refresh tokens de l'utilisateur courant
      description: >-
        Révoque TOUS les refresh tokens actifs de l'utilisateur (identifié par son JWT) et purge le
        cookie. L'access token déjà émis reste valide jusqu'à son expiration : l'API est sans état.
      responses:
        '204': { description: Déconnecté — le cookie de refresh est purgé }

  /users:
    get:
      tags: [Users]
      summary: Lister les utilisateurs de l'établissement courant (Directeur uniquement)
      description: >-
        Liste PLATE, non paginée : le personnel d'un établissement se compte en dizaines, pas en
        milliers (à la différence de /students). L'école vient du JWT, jamais d'un paramètre.
      responses:
        '200':
          description: Comptes de l'établissement courant
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/UserSummary' } }
    post:
      tags: [Users]
      summary: Créer un compte Secrétariat/Finance/Enseignant (Directeur uniquement)
      description: >-
        SuperAdmin et Directeur sont volontairement exclus des rôles assignables ici : SuperAdmin est
        un rôle plateforme hors du contrôle d'une école, Directeur ne se crée que via POST /schools
        (JGK-B01). Le mot de passe est saisi DIRECTEMENT par le Directeur, jamais généré ni envoyé par
        e-mail (l'adaptateur SMTP réel relève de JGK-G03, hors périmètre MVP).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserCreateRequest' }
      responses:
        '201': { description: Créé, content: { application/json: { schema: { $ref: '#/components/schemas/User' } } } }
        '403': { description: Rôle appelant non autorisé, ou rôle demandé non assignable }
        '422': { $ref: '#/components/responses/ValidationError' }

  /users/{userId}/password:
    patch:
      tags: [Users]
      summary: Réinitialiser le mot de passe d'un compte (Directeur uniquement)
      description: >-
        Toutes les sessions actives du compte sont révoquées (même raisonnement que le blocage,
        JGK-A05) : un mot de passe qu'on vient de changer ne doit pas laisser une session ouverte
        utilisable sous l'ancien. Un Directeur ne peut pas réinitialiser son propre mot de passe par
        cette voie.
      parameters:
        - $ref: '#/components/parameters/EntityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newPassword]
              properties:
                newPassword: { type: string, format: password }
      responses:
        '200': { description: Mot de passe réinitialisé, sessions révoquées }
        '403': { description: Rôle appelant non autorisé, ou cible = l'acteur lui-même }
        '404': { description: Utilisateur introuvable dans l'établissement courant }
        '422': { $ref: '#/components/responses/ValidationError' }

  /users/{userId}/status:
    patch:
      tags: [Users]
      summary: Suspendre / bloquer / réactiver un utilisateur
      parameters:
        - $ref: '#/components/parameters/EntityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status, reason]
              properties:
                status: { type: string, enum: [Active, Suspended, Blocked] }
                reason: { type: string }
      responses:
        '200': { description: Statut mis à jour }

  /audit-logs:
    get:
      tags: [AuditLogs]
      summary: Journal d'audit de l'établissement courant (Directeur uniquement)
      description: >-
        Ticket JGK-H01. Lecture seule, paginée : les entrées sont écrites automatiquement par
        AuditLoggingBehavior (paiements, changements de statut/mot de passe/création de compte
        utilisateur, impressions de reçus), jamais par un appel client direct — append-only imposé
        jusqu'au niveau des GRANT PostgreSQL (SELECT, INSERT uniquement).

        Scope actuel : ne couvre pas encore la connexion (JGK-A04) ni les actions Super Admin (ex.
        création d'établissement) — l'acteur n'a alors aucun SchoolId propre, ce qui exigerait sa
        propre fonction SECURITY DEFINER (comme provision_school_director, JGK-B01).
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - name: module
          in: query
          description: Filtre sur le domaine fonctionnel (ex. "Finance", "Users").
          schema: { type: string }
        - name: success
          in: query
          description: true = succès uniquement, false = échecs uniquement, absent = tous.
          schema: { type: boolean }
      responses:
        '200':
          description: Liste paginée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedAuditLogs' }
        '403': { description: Rôle appelant non autorisé (réservé au Directeur) }

  /schools:
    get:
      tags: [Schools]
      summary: Lister les établissements (Super Admin uniquement)
      responses:
        '200': { description: Liste des établissements }
    post:
      tags: [Schools]
      summary: Créer un nouvel établissement (Super Admin uniquement)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchoolCreateRequest' }
      responses:
        '201': { description: Établissement créé }

  /schools/current:
    get:
      tags: [Schools]
      summary: Identité de l'établissement courant (nom, coordonnées, logo)
      description: >-
        L'établissement est déduit du JWT (jamais un paramètre). Lecture ouverte à tous les rôles —
        le nom et les coordonnées figurent sur le reçu et les écrans. À distinguer de POST /schools
        (création par le Super Admin).
      responses:
        '200':
          description: Fiche de l'établissement
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolProfile' }
    put:
      tags: [Schools]
      summary: Mettre à jour l'identité de l'établissement (Directeur uniquement)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchoolProfile' }
      responses:
        '200':
          description: Fiche mise à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolProfile' }
        '403': { description: Rôle non autorisé (écriture réservée au Directeur) }
        '422': { description: Données invalides (nom manquant, URL de logo invalide…) }

  /schools/current/settings:
    get:
      tags: [Schools]
      summary: Paramètres de l'établissement courant
      responses:
        '200':
          description: Paramètres
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolSettings' }
    put:
      tags: [Schools]
      summary: Mettre à jour les paramètres (Directeur uniquement)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchoolSettings' }
      responses:
        '200': { description: Paramètres mis à jour }

  /school-years:
    get:
      tags: [SchoolYears]
      summary: Lister les années scolaires de l'établissement courant
      description: >-
        L'établissement est déduit du JWT : il n'est jamais un paramètre. Lecture ouverte à tous les
        rôles — l'année active est le contexte de travail de tous les écrans. `isClosed` est calculé
        à la lecture : une année terminée est en lecture seule.
      responses:
        '200':
          description: Liste des années scolaires, la plus récente d'abord
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SchoolYear' }
    post:
      tags: [SchoolYears]
      summary: Créer une nouvelle année scolaire (Directeur)
      description: >-
        Créer une année ne fait PAS basculer l'établissement dessus : elle est créée inactive, et le
        basculement passe par `/school-years/{id}/activate`. Seule exception, la première année d'une
        école devient active d'office — sans année active, rien n'est inscriptible. Une année déjà
        terminée n'est jamais activée automatiquement.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchoolYearCreateRequest' }
      responses:
        '201':
          description: Année scolaire créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolYear' }
        '403': { description: Réservé au Directeur }
        '409':
          description: Une année de ce libellé existe déjà dans cet établissement
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /school-years/{id}/activate:
    post:
      tags: [SchoolYears]
      summary: Faire de cette année l'année active (Directeur, double confirmation)
      description: >-
        Une seule année est active à la fois : l'année active précédente est désactivée dans la même
        transaction, et l'unicité est garantie par un index PostgreSQL, pas seulement par
        l'application. Une année TERMINÉE ne peut pas être activée (les années passées sont en
        lecture seule) ; une année à venir, si. Le mot de passe du Directeur est redemandé
        (Volume_7_Security §16 — « changement de l'année scolaire active »).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  format: password
                  description: Mot de passe du Directeur connecté — confirmation de l'opération.
      responses:
        '200':
          description: Année scolaire activée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SchoolYear' }
        '403': { description: Réservé au Directeur }
        '404': { description: Année scolaire introuvable dans cet établissement }
        '422':
          description: >-
            Mot de passe de confirmation incorrect, ou année terminée (lecture seule).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /classrooms:
    get:
      tags: [Classrooms]
      summary: Lister les classes de l'établissement courant
      description: >-
        L'établissement est déduit du JWT : il n'est jamais un paramètre. `studentCount` est
        calculé côté base.
      responses:
        '200':
          description: Liste des classes
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Classroom' }
    post:
      tags: [Classrooms]
      summary: Créer une classe (nomenclature libre, sans liste figée)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClassroomCreateRequest' }
      responses:
        '201':
          description: Classe créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Classroom' }
        '409':
          description: Une classe de ce nom existe déjà dans cet établissement
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /subjects:
    get:
      tags: [Subjects]
      summary: Lister les matières de l'établissement courant
      description: >-
        L'établissement est déduit du JWT : il n'est jamais un paramètre. Lecture ouverte à tous les
        rôles — l'enseignant a besoin des coefficients, le secrétariat pour composer les bulletins.
        Triées par niveau puis par nom.
      responses:
        '200':
          description: Liste des matières
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Subject' }
    post:
      tags: [Subjects]
      summary: Créer une matière avec coefficient (Directeur)
      description: >-
        Le coefficient relève de la notation : réservé au Directeur (Volume 7 §15). Une même matière
        peut exister à plusieurs niveaux avec des coefficients différents — l'unicité porte sur
        (niveau, nom), pas sur le nom seul.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubjectCreateRequest' }
      responses:
        '201':
          description: Matière créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subject' }
        '403': { description: Réservé au Directeur }
        '409':
          description: Une matière de ce nom existe déjà à ce niveau dans cet établissement
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /students:
    get:
      tags: [Students]
      summary: Lister/rechercher les élèves
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - name: classroomId
          in: query
          schema: { type: string, format: uuid }
        - name: search
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Liste paginée d'élèves
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedStudents' }
    post:
      tags: [Students]
      summary: Inscrire un élève (le matricule est généré à l'enregistrement, jamais avant)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StudentCreateRequest' }
      responses:
        '201': { description: Élève créé, matricule généré, content: { application/json: { schema: { $ref: '#/components/schemas/Student' } } } }
        '422': { $ref: '#/components/responses/ValidationError' }

  /students/{studentId}:
    get:
      tags: [Students]
      summary: Fiche complète d'un élève
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: Fiche élève
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StudentProfile' }
        '404': { $ref: '#/components/responses/NotFound' }

  /teachers:
    get:
      tags: [Teachers]
      summary: Lister les enseignants
      responses:
        '200': { description: Liste des enseignants }
    post:
      tags: [Teachers]
      summary: Créer un enseignant (matricule généré à l'enregistrement)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TeacherCreateRequest' }
      responses:
        '201': { description: Enseignant créé }

  /enrollments:
    post:
      tags: [Enrollments]
      summary: Créer une inscription/réinscription (déclenche automatiquement le calcul Finance)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EnrollmentCreateRequest' }
      responses:
        '201':
          description: Inscription créée, frais calculés automatiquement (renvoie le reçu)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnrollmentReceipt' }
        '403': { description: Rôle non autorisé (le service Finance ne compose pas de montant dû) }
        '409': { description: Élève déjà inscrit pour l'année active }
        '422': { description: Aucune année active, ou données invalides }

  /enrollments/{id}/receipt:
    get:
      tags: [Enrollments]
      summary: Reçu d'inscription (ticket JGK-E01 — JSON ; le PDF pixel-fidèle est JGK-E02)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Reçu (détail des frais figé à l'inscription)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnrollmentReceipt' }
        '404': { description: Inscription introuvable dans l'établissement courant }

  /enrollments/{id}/receipt/pdf:
    get:
      tags: [Enrollments]
      summary: Reçu d'inscription officiel en PDF (ticket JGK-E02 — reproduit docs/design-references/receipt-reference.png)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Le reçu au format PDF (téléchargement)
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '404': { description: Inscription introuvable dans l'établissement courant }

  /grades:
    post:
      tags: [Grades]
      summary: Saisir ou mettre à jour une note (verrouillage optimiste)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GradeUpsertRequest' }
      responses:
        '200': { description: Note enregistrée }
        '409':
          description: Conflit de concurrence — la note a été modifiée entre-temps
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /report-cards/generate:
    post:
      tags: [ReportCards]
      summary: Générer le bulletin PDF d'un élève pour une période
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [studentId, termId]
              properties:
                studentId: { type: string, format: uuid }
                termId: { type: string, format: uuid }
      responses:
        '200':
          description: PDF généré
          content:
            application/pdf:
              schema: { type: string, format: binary }

  /finance/fee-categories:
    get:
      tags: [Finance]
      summary: Lister les catégories de frais de l'établissement courant
      description: >-
        Liste paramétrable (inscription, mensualité, cantine…). Lecture ouverte à tous les rôles.
      responses:
        '200':
          description: Liste des catégories
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/FeeCategory' }
    post:
      tags: [Finance]
      summary: Créer une catégorie de frais (Directeur)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FeeCategoryCreateRequest' }
      responses:
        '201':
          description: Catégorie créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FeeCategory' }
        '403': { description: Réservé au Directeur }
        '409':
          description: Une catégorie de ce nom existe déjà
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /finance/fees:
    get:
      tags: [Finance]
      summary: Lister le barème de l'établissement courant (une ligne par catégorie × classe)
      description: >-
        Le montant de chaque (catégorie, classe) déjà défini. Les couples encore vierges
        n'apparaissent pas : l'interface, connaissant catégories et classes, y affiche « non défini ».
        `rowVersion` (xmin) est le jeton de concurrence optimiste à renvoyer lors d'une modification.
      responses:
        '200':
          description: Barème
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ClassFee' }

  /finance/fees/apply-standard:
    post:
      tags: [Finance]
      summary: Option 1 — appliquer un montant standard à toutes les classes d'une catégorie (Directeur)
      description: >-
        Applique un montant à toutes les classes en un geste (Volume 1 §7.4). `overwriteExisting` à
        false (défaut) ne remplit que les classes encore vierges et PRÉSERVE les exceptions déjà
        ajustées ; à true, réaligne aussi les classes existantes sur le montant standard. Chaque
        changement est historisé.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApplyStandardFeeRequest' }
      responses:
        '200':
          description: Compte-rendu (créées, réalignées, laissées telles quelles)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApplyStandardFeeResult' }
        '403': { description: Réservé au Directeur }
        '422': { $ref: '#/components/responses/ValidationError' }

  /finance/fees/{id}:
    put:
      tags: [Finance]
      summary: Option 2 — ajuster le montant d'une classe (exception), verrouillage optimiste (Directeur)
      description: >-
        Modifie une ligne de barème. `rowVersion` (xmin lu à l'affichage) protège contre l'écrasement
        concurrent : si un autre utilisateur a modifié la ligne entre-temps, la réponse est 409
        (AGENTS.md règle #5). Le changement est historisé.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, rowVersion]
              properties:
                amount: { type: number, minimum: 0 }
                rowVersion:
                  type: integer
                  format: int64
                  description: Jeton de concurrence (xmin) renvoyé par le dernier GET /finance/fees.
      responses:
        '200':
          description: Montant mis à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpdateFeeResult' }
        '403': { description: Réservé au Directeur }
        '404': { description: Ligne de barème introuvable dans cet établissement }
        '409':
          description: La ligne a été modifiée par un autre utilisateur entre-temps
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /finance/fees/{id}/history:
    get:
      tags: [Finance]
      summary: Historique des modifications d'une ligne de barème
      description: Ancien montant, nouveau montant, auteur, date — du plus récent au plus ancien (Volume 1 §7.4).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Historique
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/FeeHistoryEntry' }

  /finance/students/{studentId}/balance:
    get:
      tags: [Finance]
      summary: Solde à encaisser pour un élève (année scolaire active) — point d'entrée de la caisse
      description: >-
        Retrouve l'inscription de l'élève sur l'année scolaire ACTIVE et son solde. Lecture ouverte à
        tout rôle de l'école (composer/afficher un solde n'est pas un acte d'encaissement, règle #4).
      parameters:
        - { name: studentId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Solde de l'inscription active
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StudentBalance' }
        '404': { description: Élève introuvable, ou aucune inscription sur l'année active }

  /finance/payments:
    post:
      tags: [Finance]
      summary: Encaisser un paiement (Directeur + Finance) — ticket JGK-F02
      description: >-
        Impute un versement sur le solde d'une inscription. Le montant dû (TotalDue) n'est jamais fourni
        ni modifié par le client (règles #4/#10) ; l'école vient du JWT. Verrou optimiste : deux
        encaissements concurrents sur le même solde ne peuvent pas s'écraser — le second reçoit 409.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PaymentCreateRequest' }
      responses:
        '201':
          description: Paiement encaissé, numéro de reçu attribué
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentResult' }
        '403': { description: Rôle non autorisé (écriture réservée à Directeur + Finance) }
        '404': { description: Inscription introuvable dans cet établissement }
        '409': { description: Encaissement concurrent — recharger le solde et réessayer }
        '422': { description: Montant invalide, solde dépassé, ou inscription déjà soldée/annulée }

  /finance/payments/{id}/receipt:
    get:
      tags: [Finance]
      summary: Reçu de paiement (JSON) — lecture ouverte à tout rôle de l'école
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Données du reçu de paiement (montants figés à l'encaissement)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentReceipt' }
        '404': { description: Paiement introuvable dans cet établissement }

  /finance/payments/{id}/receipt/pdf:
    get:
      tags: [Finance]
      summary: Reçu de paiement officiel en PDF (JGK-F02)
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Reçu PDF
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '404': { description: Paiement introuvable dans cet établissement }

  /finance/expenses:
    get:
      tags: [Finance]
      summary: Lister les dépenses
      responses:
        '200': { description: Liste des dépenses }
    post:
      tags: [Finance]
      summary: Enregistrer une dépense
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExpenseCreateRequest' }
      responses:
        '201': { description: Dépense enregistrée }

  /finance/dashboard:
    get:
      tags: [Finance]
      summary: Indicateurs financiers (encaissé, solde dû, taux de recouvrement)
      responses:
        '200':
          description: Tableau de bord financier
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FinanceDashboard' }

  /registration-requests:
    post:
      tags: [RegistrationRequests]
      summary: Soumettre une demande d'inscription self-service (formulaire public, Volume 1 §11.5)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegistrationRequestCreate' }
      responses:
        '201':
          description: Demande créée, référence de suivi communiquée par email
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegistrationRequestCreated' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /registration-requests/{trackingReference}/status:
    get:
      tags: [RegistrationRequests]
      summary: Consulter l'état d'une demande sans authentification
      security: []
      parameters:
        - name: trackingReference
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Statut de la demande
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegistrationRequestStatus' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/registration-requests:
    get:
      tags: [RegistrationRequests]
      summary: Lister les demandes d'inscription (Super Admin)
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [Pending, Approved, Rejected] }
      responses:
        '200': { description: Liste des demandes }

  /admin/registration-requests/{id}/approve:
    post:
      tags: [RegistrationRequests]
      summary: Approuver — crée établissement + compte Directeur + abonnement AwaitingPayment (Super Admin)
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: Établissement créé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegistrationApprovalResult' }

  /admin/registration-requests/{id}/reject:
    post:
      tags: [RegistrationRequests]
      summary: Rejeter une demande (Super Admin)
      parameters:
        - $ref: '#/components/parameters/EntityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string }
      responses:
        '200': { description: Demande rejetée }

  /subscriptions/{schoolId}/payments:
    get:
      tags: [Payments]
      summary: Historique des paiements d'abonnement de l'établissement (Directeur)
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200': { description: Historique des paiements }
    post:
      tags: [Payments]
      summary: Initier un paiement d'abonnement (Mobile Money, virement, carte)
      parameters:
        - $ref: '#/components/parameters/EntityId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubscriptionPaymentInitiateRequest' }
      responses:
        '201':
          description: Session de paiement créée — URL de redirection agrégateur
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SubscriptionPaymentInitiateResult' }

  /webhooks/payments/{provider}:
    post:
      tags: [Payments]
      summary: Callback de l'agrégateur de paiement (PayDunya/CinetPay) — signature HMAC vérifiée obligatoirement, voir docs/Volume_7_Security.md
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [paydunya, cinetpay] }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, description: "Payload brut spécifique à l'agrégateur, stocké tel quel dans WebhookPayloadRaw" }
      responses:
        '200': { description: Webhook traité }
        '401': { description: Signature invalide — webhook rejeté et journalisé }

  /subscriptions/{schoolId}:
    get:
      tags: [Subscriptions]
      summary: Consulter l'abonnement d'un établissement (Super Admin)
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200': { description: Détail de l'abonnement }
    patch:
      tags: [Subscriptions]
      summary: Modifier le plan ou la date d'expiration (Super Admin)
      parameters:
        - $ref: '#/components/parameters/EntityId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubscriptionUpdateRequest' }
      responses:
        '200': { description: Abonnement mis à jour }

  /audit-logs:
    get:
      tags: [Audit]
      summary: Consulter le journal d'audit de l'établissement
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - name: action
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200': { description: Liste paginée d'événements d'audit }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PageNumber:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    PageSize:
      name: pageSize
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    EntityId:
      name: userId
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    NotFound:
      description: Ressource introuvable
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    ValidationError:
      description: Erreur de validation
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

  schemas:
    Role:
      type: string
      enum: [SuperAdmin, Directeur, Secretariat, Finance, Enseignant]

    ErrorResponse:
      type: object
      description: Format normalisé — voir docs/Volume_4_API_Design.md §0.4
      properties:
        code: { type: string, example: "VALIDATION_ERROR" }
        message: { type: string }
        details:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              reason: { type: string }
        traceId: { type: string }

    AuthTokens:
      type: object
      description: >-
        Le refresh token ne figure PAS ici : il n'est délivré que dans le cookie HttpOnly
        `sama_ecole_refresh_token` (§1.1 du Volume 4). L'exposer aussi dans ce corps annulerait la
        protection — un script injecté (XSS) appellerait /auth/refresh, dont le cookie part
        automatiquement, et lirait le jeton dans la réponse.
      properties:
        accessToken: { type: string }
        expiresIn: { type: integer, example: 900 }

    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        fullName: { type: string }
        email: { type: string, format: email }
        role: { $ref: '#/components/schemas/Role' }
        status: { type: string, enum: [Active, Suspended, Blocked] }
        schoolId: { type: string, format: uuid }

    UserCreateRequest:
      type: object
      required: [fullName, email, role, password]
      properties:
        fullName: { type: string }
        email: { type: string, format: email }
        role: { $ref: '#/components/schemas/Role' }
        password: { type: string, format: password }

    UserSummary:
      type: object
      description: Ligne de GET /users — isSelf est calculé côté serveur (confort d'affichage, l'API garde).
      properties:
        id: { type: string, format: uuid }
        fullName: { type: string }
        email: { type: string, format: email }
        role: { $ref: '#/components/schemas/Role' }
        status: { type: string, enum: [Active, Suspended, Blocked] }
        isSelf: { type: boolean }

    AuditLogEntry:
      type: object
      description: Ligne de GET /audit-logs (ticket JGK-H01).
      properties:
        id: { type: string, format: uuid }
        actorFullName: { type: string }
        module: { type: string, example: Finance }
        action: { type: string, example: RecordPayment }
        success: { type: boolean }
        failureReason: { type: string, nullable: true }
        ipAddress: { type: string, nullable: true }
        occurredAt: { type: string, format: date-time }

    PaginatedAuditLogs:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/AuditLogEntry' } }
        totalCount: { type: integer }
        page: { type: integer }
        pageSize: { type: integer }

    SchoolCreateRequest:
      type: object
      required: [name, address, directorEmail]
      properties:
        name: { type: string }
        address: { type: string }
        phone: { type: string }
        directorEmail: { type: string, format: email }

    SchoolProfile:
      type: object
      description: >-
        Identité de l'établissement courant (nom, coordonnées, logo). Éditable par le Directeur, reprise
        sur le reçu d'inscription. `name` est obligatoire ; `logoUrl`, s'il est fourni, doit être une URL
        http(s).
      required: [name]
      properties:
        name: { type: string, maxLength: 200 }
        address: { type: string, nullable: true, maxLength: 300 }
        phone: { type: string, nullable: true, maxLength: 30 }
        logoUrl: { type: string, nullable: true, format: uri, maxLength: 500 }

    SchoolSettings:
      type: object
      properties:
        gradingScale: { type: string, enum: ["10", "20"] }
        studentMatriculeFormat: { type: string, example: "ELEV-{YEAR}-{SEQ:4}" }
        teacherMatriculeFormat: { type: string, example: "ENS-{YEAR}-{SEQ:3}" }
        autoLogoutMinutes: { type: integer, default: 10 }
        dateFormat: { type: string, enum: ["dd/MM/yyyy", "dd MMMM yyyy"] }
        tuitionMonthsPerYear: { type: integer, default: 9, minimum: 1, maximum: 12, description: 'Mensualités facturées par an (JGK-E01).' }

    SchoolYearCreateRequest:
      type: object
      description: >-
        Pas de champ `isActive` : créer une année ne fait jamais basculer l'établissement dessus
        (voir POST /school-years). Pas de `schoolId` non plus : il est déduit du JWT.
      required: [label, startDate, endDate]
      properties:
        label:
          type: string
          maxLength: 20
          example: "2026-2027"
          description: Libellé d'affichage, format libre. Unique au sein de l'établissement.
        startDate: { type: string, format: date }
        endDate:
          type: string
          format: date
          description: >-
            Postérieure à `startDate`, et comprise entre 3 et 18 mois après elle — de quoi
            intercepter la faute de frappe sur le millésime.

    SchoolYear:
      type: object
      properties:
        id: { type: string, format: uuid }
        label: { type: string, example: "2026-2027" }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date }
        isActive:
          type: boolean
          description: Une seule année active par établissement, garantie par un index PostgreSQL.
        isClosed:
          type: boolean
          description: >-
            Calculé à la lecture (`endDate` dépassée), jamais stocké. Une année close est en lecture
            seule : elle ne peut plus être activée.

    Classroom:
      type: object
      description: >-
        `schoolId` ne figure volontairement pas : il est déduit du JWT, jamais transmis ni accepté
        du client (AGENTS.md règle #10).
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: "CM2 B" }
        level: { type: string, example: "Primaire" }
        capacity: { type: integer, example: 40 }
        studentCount: { type: integer, example: 32, description: Effectif actuel, calculé côté base }

    ClassroomCreateRequest:
      type: object
      required: [name, level, capacity]
      description: >-
        La nomenclature est LIBRE : ni `name` ni `level` ne suivent une liste figée. Une école
        primaire, un collège et un lycée sénégalais ne nomment pas leurs classes de la même façon —
        toute énumération exclurait des établissements.
      properties:
        name: { type: string, maxLength: 50, example: "CM2 B" }
        level: { type: string, maxLength: 50, example: "Primaire" }
        capacity: { type: integer, minimum: 1, maximum: 200, example: 40 }

    SubjectCreateRequest:
      type: object
      description: >-
        Pas de `schoolId` : il est déduit du JWT. Le `level` est un texte libre, aligné sur la
        nomenclature des classes de l'établissement (pas de liste figée).
      required: [name, coefficient, level]
      properties:
        name: { type: string, maxLength: 80, example: "Mathématiques" }
        coefficient:
          type: number
          format: double
          minimum: 0
          exclusiveMinimum: true
          maximum: 20
          example: 4
        level: { type: string, maxLength: 50, example: "Primaire" }

    Subject:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: "Mathématiques" }
        level: { type: string, example: "Primaire" }
        coefficient: { type: number, format: double, example: 4 }

    Student:
      type: object
      properties:
        id: { type: string, format: uuid }
        matricule: { type: string }
        fullName: { type: string }
        classroomId: { type: string, format: uuid }
        birthDate: { type: string, format: date }
        gender: { type: string, enum: [M, F] }

    StudentProfile:
      allOf:
        - $ref: '#/components/schemas/Student'
        - type: object
          properties:
            enrollmentHistory: { type: array, items: { type: object } }
            grades: { type: array, items: { type: object } }
            payments: { type: array, items: { type: object } }

    StudentCreateRequest:
      type: object
      required: [fullName, birthDate, gender, classroomId]
      properties:
        fullName: { type: string }
        birthDate: { type: string, format: date }
        gender: { type: string, enum: [M, F] }
        classroomId: { type: string, format: uuid }
        guardianName: { type: string }
        guardianPhone: { type: string }

    PaginatedStudents:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Student' } }
        totalCount: { type: integer }
        page: { type: integer }
        pageSize: { type: integer }

    TeacherCreateRequest:
      type: object
      required: [fullName, email, subjectIds]
      properties:
        fullName: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        subjectIds: { type: array, items: { type: string, format: uuid } }

    EnrollmentCreateRequest:
      type: object
      description: >-
        Deux modes selon `type`. NewEnrollment : l'élève est CRÉÉ dans le flux (fullName, birthDate,
        gender requis) et son matricule généré. ReEnrollment : `studentId` d'un élève existant.
        Ni `schoolYearId` ni `totalDue` : l'année ACTIVE est résolue serveur, et le montant est
        CALCULÉ à partir du barème de la classe — jamais fourni par le client (règles #4 et #10).
      required: [type, classroomId]
      properties:
        type: { type: string, enum: [NewEnrollment, ReEnrollment] }
        classroomId: { type: string, format: uuid }
        studentId:
          type: string
          format: uuid
          description: Requis pour ReEnrollment ; ignoré pour NewEnrollment.
        fullName: { type: string, maxLength: 200, description: NewEnrollment uniquement }
        birthDate: { type: string, format: date, description: NewEnrollment uniquement }
        gender: { type: string, enum: [M, F], description: NewEnrollment uniquement }
        guardianName: { type: string }
        guardianPhone: { type: string }

    EnrollmentReceipt:
      type: object
      description: Reçu d'inscription (JGK-E01). Le détail des frais est figé à l'inscription.
      properties:
        enrollmentId: { type: string, format: uuid }
        receiptNumber: { type: string, description: 'Numéro officiel unique du reçu (JGK-E02), ex. « REC-2025-0002 ».' }
        schoolName: { type: string }
        schoolPhone: { type: string, nullable: true }
        schoolCity: { type: string, nullable: true, description: 'Ville du bas de reçu (« Fait à … »), dérivée de l''adresse de l''école.' }
        matricule: { type: string }
        studentFullName: { type: string }
        classroomName: { type: string }
        classroomLevel: { type: string }
        schoolYearLabel: { type: string }
        type: { type: string, enum: [NewEnrollment, ReEnrollment] }
        status: { type: string, enum: [Pending, Confirmed, Cancelled] }
        enrolledAt: { type: string, format: date-time }
        totalDue: { type: number }
        lines:
          type: array
          items:
            type: object
            properties:
              designation: { type: string }
              isRecurring: { type: boolean }
              unitAmount: { type: number }
              months: { type: integer }
              lineTotal: { type: number }

    GradeUpsertRequest:
      type: object
      required: [studentId, subjectId, termId, value, rowVersion]
      properties:
        studentId: { type: string, format: uuid }
        subjectId: { type: string, format: uuid }
        termId: { type: string, format: uuid }
        value: { type: number, minimum: 0 }
        rowVersion:
          type: string
          description: Jeton de concurrence optimiste renvoyé lors de la dernière lecture

    FeeCategoryCreateRequest:
      type: object
      description: Pas de `schoolId` : il est déduit du JWT. La liste est libre (Volume 1 §7.1).
      required: [name]
      properties:
        name: { type: string, maxLength: 60, example: "Mensualité" }
        isRecurring:
          type: boolean
          description: Vrai pour une mensualité (due chaque mois), faux pour un frais ponctuel.

    FeeCategory:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: "Mensualité" }
        isRecurring: { type: boolean }

    ClassFee:
      type: object
      properties:
        id: { type: string, format: uuid }
        feeCategoryId: { type: string, format: uuid }
        feeCategoryName: { type: string, example: "Mensualité" }
        classroomId: { type: string, format: uuid }
        classroomName: { type: string, example: "CM2 A" }
        level: { type: string, example: "Primaire" }
        amount: { type: number, example: 15000 }
        rowVersion:
          type: integer
          format: int64
          description: Jeton de concurrence optimiste (xmin) à renvoyer lors d'une modification.

    ApplyStandardFeeRequest:
      type: object
      required: [feeCategoryId, amount]
      properties:
        feeCategoryId: { type: string, format: uuid }
        amount: { type: number, minimum: 0, example: 15000 }
        overwriteExisting:
          type: boolean
          default: false
          description: >-
            false : ne remplit que les classes vierges et préserve les exceptions. true : réaligne
            toutes les classes sur le montant standard.

    ApplyStandardFeeResult:
      type: object
      properties:
        created: { type: integer, description: Classes pour lesquelles une ligne a été créée. }
        updated: { type: integer, description: Classes réalignées sur le standard (overwrite). }
        skipped: { type: integer, description: Classes laissées telles quelles (exception préservée ou déjà au montant). }

    UpdateFeeResult:
      type: object
      properties:
        id: { type: string, format: uuid }
        amount: { type: number }
        rowVersion:
          type: integer
          format: int64
          description: Nouveau jeton après écriture, pour enchaîner une modification sans recharger.

    FeeHistoryEntry:
      type: object
      properties:
        oldAmount:
          type: number
          nullable: true
          description: Montant avant le changement. Null pour la définition initiale.
        newAmount: { type: number }
        changedByUserId: { type: string, format: uuid }
        changedByName: { type: string, example: "Fatou Ndiaye" }
        changedAt: { type: string, format: date-time }

    StudentBalance:
      type: object
      description: Solde à encaisser pour un élève, sur son inscription de l'année scolaire active.
      properties:
        enrollmentId: { type: string, format: uuid }
        studentId: { type: string, format: uuid }
        matricule: { type: string }
        studentFullName: { type: string }
        classroomName: { type: string }
        schoolYearLabel: { type: string }
        totalDue: { type: number }
        amountPaid: { type: number }
        remainingBalance: { type: number }
        status: { type: string, enum: [Paid, Partial] }

    PaymentCreateRequest:
      type: object
      description: >-
        Encaissement contre une INSCRIPTION (c'est là que vit le solde), pas contre un élève : un élève
        peut avoir plusieurs inscriptions au fil des années, chacune avec son propre solde.
      required: [enrollmentId, amount, method]
      properties:
        enrollmentId: { type: string, format: uuid }
        amount: { type: number, description: "FCFA, strictement positif, jamais supérieur au solde restant." }
        method: { type: string, enum: [Cash, Cheque, Transfer, MobileMoney] }

    PaymentResult:
      type: object
      description: Résultat d'un encaissement — de quoi confirmer à la caisse et imprimer le reçu.
      properties:
        paymentId: { type: string, format: uuid }
        receiptNumber: { type: string, example: "REC-2025-0007" }
        amount: { type: number }
        totalDue: { type: number }
        amountPaid: { type: number, description: "Cumul encaissé après ce versement." }
        remainingBalance: { type: number }
        status: { type: string, enum: [Paid, Partial] }

    PaymentReceipt:
      type: object
      description: Données du reçu de paiement, montants figés à l'instant de l'encaissement.
      properties:
        receiptNumber: { type: string }
        schoolName: { type: string }
        schoolPhone: { type: string, nullable: true }
        schoolCity: { type: string, nullable: true }
        schoolLogoUrl: { type: string, nullable: true }
        matricule: { type: string }
        studentFullName: { type: string }
        classroomName: { type: string }
        schoolYearLabel: { type: string }
        method: { type: string, enum: [Cash, Cheque, Transfer, MobileMoney] }
        amount: { type: number }
        totalDue: { type: number }
        alreadyPaid: { type: number }
        remainingBalance: { type: number }
        paidAt: { type: string, format: date-time }

    ExpenseCreateRequest:
      type: object
      required: [label, amount, category, date]
      properties:
        label: { type: string }
        amount: { type: number }
        category: { type: string }
        date: { type: string, format: date }

    FinanceDashboard:
      type: object
      properties:
        collectedToday: { type: number }
        collectedThisMonth: { type: number }
        totalOutstanding: { type: number }
        recoveryRate: { type: number, description: "Pourcentage, 0-100" }

    SubscriptionUpdateRequest:
      type: object
      properties:
        plan: { type: string, enum: [Primaire, Standard, Premium] }
        expiresAt: { type: string, format: date }
        status: { type: string, enum: [AwaitingPayment, Active, Suspended, ReadOnly] }

    RegistrationRequestCreate:
      type: object
      required: [directorFullName, directorEmail, directorPhone, password, schoolName, requestedPlan]
      properties:
        directorFullName: { type: string }
        directorEmail: { type: string, format: email }
        directorPhone: { type: string }
        password: { type: string, format: password, description: "Haché immédiatement côté serveur, jamais journalisé" }
        schoolName: { type: string }
        schoolAddress: { type: string }
        city: { type: string }
        region: { type: string }
        estimatedStudentCount: { type: integer }
        requestedPlan: { type: string, enum: [Primaire, Standard, Premium] }

    RegistrationRequestCreated:
      type: object
      properties:
        trackingReference: { type: string, example: "JGK-REQ-2026-00042" }
        status: { type: string, enum: [Pending] }

    RegistrationRequestStatus:
      type: object
      properties:
        trackingReference: { type: string }
        status: { type: string, enum: [Pending, Approved, Rejected] }
        rejectionReason: { type: string, nullable: true }

    RegistrationApprovalResult:
      type: object
      properties:
        schoolId: { type: string, format: uuid }
        directorUserId: { type: string, format: uuid }
        subscriptionId: { type: string, format: uuid }
        subscriptionStatus: { type: string, enum: [AwaitingPayment] }

    SubscriptionPaymentInitiateRequest:
      type: object
      required: [method, billingPeriod]
      properties:
        method: { type: string, enum: [MobileMoney, BankTransfer, Card] }
        billingPeriod: { type: string, enum: [Monthly, Yearly] }

    SubscriptionPaymentInitiateResult:
      type: object
      properties:
        paymentId: { type: string, format: uuid }
        redirectUrl: { type: string, format: uri, description: "URL de la page de paiement hébergée par l'agrégateur (PayDunya/CinetPay)" }
        status: { type: string, enum: [Initiated] }
